Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

refactor and added tests
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

working state lobby observable
  packages/mobile/lib/components/error-pop-up.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

just a lint
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

state start button
  packages/mobile/lib/pages/create-lobby.dart
Due: none

last touches view
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

components extraction
  packages/mobile/lib/components/group-gestion.dart
  packages/mobile/lib/components/parameters.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/linux/flutter/generated_plugin_registrant.cc
  packages/mobile/linux/flutter/generated_plugins.cmake
  packages/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/mobile/pubspec.lock
  packages/mobile/windows/flutter/generated_plugin_registrant.cc
  packages/mobile/windows/flutter/generated_plugins.cmake
Due: none

fix err
  packages/mobile/lib/services/game-creation-service.dart
Due: none

comments resolve
  packages/mobile/lib/components/error-pop-up.dart
  packages/mobile/lib/components/group-management.dart
  packages/mobile/lib/constants/create-lobby-constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/linux/flutter/generated_plugin_registrant.cc
  packages/mobile/linux/flutter/generated_plugin_registrant.h
  packages/mobile/linux/flutter/generated_plugins.cmake
  packages/mobile/pubspec.lock
Due: none

errors messages added
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/chat-history/chat-history.service.ts
Due: install:server, lint:server, build:server, test:server

Added test for isChannelEmpty
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
Due: install:server, lint:server, build:server, test:server

update controller
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

Added test
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Update login.dart
  packages/mobile/lib/classes/login.dart
Due: none

Delete user-session.dart
  packages/mobile/lib/classes/user-session.dart
Due: none

Update user.dart
  packages/mobile/lib/classes/user.dart
Due: none

Update create-account-form.dart
  packages/mobile/lib/components/create-account-form.dart
Due: none

Update login-constants.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

Update home-page.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

contoroller login endpoint
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

componment login logic
  packages/mobile/lib/components/login-form.dart
Due: none

remove unusued method
  packages/mobile/lib/services/account-authentification-service.dart
Due: none

comment resolve
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

Started to create logic for joining group
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/classes/virtual-player-level.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/endpoint.constants.dart
  packages/mobile/lib/constants/socket-events/chat-events.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/services/socket.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
  packages/mobile/linux/flutter/generated_plugin_registrant.cc
  packages/mobile/linux/flutter/generated_plugin_registrant.h
  packages/mobile/linux/flutter/generated_plugins.cmake
  packages/mobile/pubspec.lock
Due: none

added try catch
  packages/server/app/services/chat-history/chat-history.service.ts
Due: install:server, lint:server, build:server, test:server

Added logic for reject and cancel
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/constants/game.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Added group page and started lobby selection component
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/pages/groups-page.dart
Due: none

Added UNKOWN_USER
  packages/common/models/user.ts
  packages/server/app/services/chat-history/chat-history.service.ts
Due: install:server, lint:server, build:server, test:server

test pipeline
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Group selection work
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/services/socket.service.dart
  packages/mobile/lib/services/theme-color-service.dart
Due: none

Revert "Merge branch 'develop' into 'feature/GL3H23103-104-SE-Historique-des-conversation'"
  .gitlab-ci.yml
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/mobile/lib/classes/channel-message.dart
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/classes/login.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/channels.constants.dart
  packages/mobile/lib/constants/login-constants.dart
  packages/mobile/lib/constants/socket-events.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/lib/services/account-authentification-service.dart
  packages/mobile/lib/services/socket.service.dart
  packages/server/app/app.ts
  packages/server/app/controllers/base-controller.ts
  packages/server/app/controllers/dictionary-controller/dictionary.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.spec.ts
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/utils/is-id-virtual-player/is-id-virtual-player.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

comments part 1
  packages/mobile/lib/components/error-pop-up.dart
  packages/mobile/lib/components/group-management.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/constants/create-lobby-constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

colors
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

temp view
  packages/mobile/lib/pages/create-lobby.dart
Due: none

comments changes p2 - view
  packages/mobile/lib/components/group-management.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

storage handler add
  packages/mobile/lib/services/storage.handler.dart
Due: none

add token validation enum
  packages/mobile/lib/classes/login.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

added userService
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/services/user.service.dart
Due: none

update login logic
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/authentification-service.dart
Due: none

Update user.service.dart
  packages/mobile/lib/services/user.service.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
