Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Update create-game-form.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

fix empty password when not prtected
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

Fixed group visibility
  packages/mobile/lib/classes/game-visibility.dart
Due: none

change to interceptor
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/authentification-interceptor.dart
Due: none

Fixed comments
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/game.service.dart
Due: none

missing importand route
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/routes/routes.dart
Due: none

Fixed exchange while placement
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

set better names
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/user-search-service/user-search-service.spec.ts
  packages/server/app/services/user-search-service/user-search-service.ts
Due: install:server, lint:server, build:server, test:server

Removed méchant commentaire
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

Fixed 2 bugs
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/group-waiting-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

fixed 3 bugs
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/group-waiting-page.dart
Due: none

call leave group on leave
  packages/mobile/lib/pages/group-waiting-page.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

merge errors
  packages/mobile/lib/components/image.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/macos/Runner.xcodeproj/project.pbxproj
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

small fixes
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
  packages/mobile/lib/locator.dart
Due: none

refactor
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

move button
  packages/client/src/app/pages/search-page/search-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
Due: install:client, lint:client, build:client, test:client

Update create-game.constants.dart
  packages/mobile/lib/constants/create-game.constants.dart
Due: none

Update game-creation-service.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

Added user left group update
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/group-waiting-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Added chat to join pages
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Added back button handling
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Fixed user size
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/waiting-room.dart
  packages/mobile/lib/components/user-avatar.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/user-session.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Fixed player size
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/components/player/abstract_player.dart
Due: none

Fixed game update
  packages/mobile/lib/classes/game/game-update.dart
Due: none

Added gameId to controller
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

Update game-creation-controller.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

Fixed gameupdate
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Removed comment
  packages/mobile/lib/components/player/abstract_player.dart
Due: none

added myscaffold
  packages/mobile/lib/pages/create-account-page.dart
Due: none

fix vp level name
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

remove error
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

comments
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

english -> french
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
Due: install:client, lint:client, build:client, test:client

message syncronisation
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/mobile/lib/components/chatbox.dart
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

delete channel if empty
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

chat bug where user just joined channel
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
