Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Fixed problems with user id
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

Fixing tests
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Fixed game dispatcher controller tests
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/services/service-testing-unit/services-testing-unit.spec.ts
Due: install:server, lint:server, build:server, test:server

Fixed chat service tests
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added missing tests
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Test pipeline
  .gitlab-ci.yml
  packages/mobile/images/test.png
Due: none

removed test image
  packages/mobile/images/test.png
Due: none

Ajout du validate sur les routes
  packages/server/app/controllers/base-controller.ts
  packages/server/app/controllers/dictionary-controller/dictionary.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

Exclusion des requêtes du joueur virtuel
  packages/server/app/controllers/base-controller.ts
Due: install:server, lint:server, build:server, test:server

Edited function name
  packages/server/app/controllers/base-controller.ts
Due: install:server, lint:server, build:server, test:server

Added text to inform user to choose avatar
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

Added test
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Removed group channels on initialisation
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed test
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Change server side lobby joining and emits
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/constants/services-constants/game-dispatcher-const.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

RS: First version of client game flow
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/communication/game-config.ts
  packages/client/src/app/classes/communication/game-update-data.ts
  packages/client/src/app/components/information-box/information-box.component.html
  packages/client/src/app/components/information-box/information-box.component.ts
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.html
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.scss
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.spec.ts
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.stories.ts
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.ts
  packages/client/src/app/constants/game-constants.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.html
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

Added ChatHistory table to DB
  packages/server/migrations/20230218162218_ChatHistory.js
Due: install:server, lint:server, build:server, test:server

Update channels.constants.dart
  packages/mobile/lib/constants/channels.constants.dart
Due: none

refactor initSocket [ci skip]
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

fix error message [ci skip]
  packages/mobile/lib/constants/login-constants.dart
Due: none

removed commented file [ci skip]
  packages/mobile/lib/pages/home-page.dart
Due: none

renamed prototype page to home page
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

removed commented code [ci skip]
  packages/mobile/lib/components/create-account-form.dart
Due: none

ChatHistoryMessage interface and Service added
  packages/common/models/chat/chat-message.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/migrations/20230218162218_ChatHistory.js
Due: install:server, lint:server, build:server, test:server

Added chat service tests
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added chat persistence tests
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
Due: install:server, lint:server, build:server, test:server

Create user-session.dart
  packages/mobile/lib/classes/user-session.dart
Due: none

Moved virtual player request checking
  packages/server/app/controllers/base-controller.ts
  packages/server/app/utils/is-id-virtual-player/is-id-virtual-player.ts
Due: install:server, lint:server, build:server, test:server

added all users classes
  packages/mobile/lib/classes/user.dart
Due: none

endpoint codes
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

Update login-constants.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

endpoint update
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/services/account-authentification-service.dart
Due: none

update button login logic
  packages/mobile/lib/components/login-form.dart
Due: none

Fixed middleware
  packages/server/app/app.ts
  packages/server/app/controllers/base-controller.ts
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/routes/routes.module.ts
Due: install:server, lint:server, build:server, test:server

Improved typing
  packages/server/app/app.ts
  packages/server/app/routes/routes.module.ts
Due: install:server, lint:server, build:server, test:server

added chatHistoryService
  packages/common/events/chat.event.ts
  packages/common/models/chat/chat-message.ts
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

usage of same player interface
  packages/mobile/lib/classes/player.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/constants/create-lobby-constants.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

ChatHistory Functions Added
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/migrations/20230218162218_ChatHistory.js
Due: install:server, lint:server, build:server, test:server

debut behaviorsubject
  packages/mobile/lib/constants/create-lobby-constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/pubspec.yaml
Due: none

Patched some tests
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server
