Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

RS: Fix multiples comments
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.html
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.scss
  packages/client/src/app/components/analysis/analysis-waiting-dialog/analysis-waiting-dialog.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:client, lint:client, build:client, test:client

fixes
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.spec.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.spec.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.spec.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.ts
Due: install:client, lint:client, build:client, test:client

small fix
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
Due: install:client, lint:client, build:client, test:client

Update group-join-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
Due: none

Update group.methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Update game-password-pop-up.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Update create-lobby.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

Update groups-request-waiting-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
Due: none

Update join-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Update group-join.service.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Update group-management.dart
  packages/mobile/lib/components/group/group-management.dart
Due: none

Update group.dart
  packages/mobile/lib/classes/group.dart
Due: none

Update create-game-form.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

Update game-creation-controller.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

Update game-creation-service.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

[ci skip]
  packages/mobile/lib/components/alert-dialog.dart
Due: none

feat clear cursor on drop
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/services/board-cursor-service/board-cursor.service.spec.ts
Due: install:client, lint:client, build:client, test:client

remove comments [ci-skip]
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
Due: install:client, lint:client, build:client, test:client

fixed
  packages/mobile/lib/controllers/user-controller.dart
Due: none

case insensitive
  packages/server/app/services/user-search-service/user-search-service.ts
Due: install:server, lint:server, build:server, test:server

add upload
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/avatar/uploadcare.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.stories.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.html
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.scss
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.spec.ts
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.html
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.scss
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.stories.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.ts
  packages/client/src/app/constants/avatar-constants.ts
Due: install:client, lint:client, build:client, test:client

Added interfaces
  packages/mobile/lib/classes/actions/word-placement.dart
  packages/mobile/lib/classes/analysis/analysis-request.dart
  packages/mobile/lib/classes/analysis/analysis.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/tile/tile-parser.dart
  packages/mobile/lib/controllers/analysis-controller.dart
Due: none

added controller
  packages/mobile/lib/classes/analysis/analysis-request.dart
  packages/mobile/lib/constants/endpoint.constants.dart
  packages/mobile/lib/controllers/analysis-controller.dart
Due: none

change upload button
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.html
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.scss
Due: install:client, lint:client, build:client, test:client

running state
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/avatar-field.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/constants/theme-constants.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/game-messages.service.dart
  packages/mobile/lib/services/theme-color-service.dart
Due: none

new game page
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/components/communication-box/communication-box-text.component.scss
  packages/client/src/app/components/communication-box/communication-box.component.html
  packages/client/src/app/components/communication-box/communication-box.component.scss
  packages/client/src/app/components/game/game-players/game-players.component.html
  packages/client/src/app/components/game/game-players/game-players.component.scss
  packages/client/src/app/components/game/game-players/game-players.component.spec.ts
  packages/client/src/app/components/game/game-players/game-players.component.ts
  packages/client/src/app/components/game/game-tiles-left/game-tiles-left.component.html
  packages/client/src/app/components/game/game-tiles-left/game-tiles-left.component.scss
  packages/client/src/app/components/game/game-tiles-left/game-tiles-left.component.spec.ts
  packages/client/src/app/components/game/game-tiles-left/game-tiles-left.component.ts
  packages/client/src/app/components/game/game-timer/game-timer.component.html
  packages/client/src/app/components/game/game-timer/game-timer.component.scss
  packages/client/src/app/components/game/game-timer/game-timer.component.spec.ts
  packages/client/src/app/components/game/game-timer/game-timer.component.ts
  packages/client/src/app/components/tile-rack/tile-rack-2.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/game-page-v2/game-page-v2.component.html
  packages/client/src/app/pages/game-page-v2/game-page-v2.component.scss
  packages/client/src/app/pages/game-page-v2/game-page-v2.component.spec.ts
  packages/client/src/app/pages/game-page-v2/game-page-v2.component.ts
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.scss
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/stories/components/game/game-page-v2.component.stories.ts
  packages/client/src/app/stories/components/game/game-page.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/client/src/app/style/animations.scss
Due: install:client, lint:client, build:client, test:client

observer page
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/communication-box/communication-box.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.spec.ts
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
  packages/client/src/app/components/game/game-players/game-players.component.ts
  packages/client/src/app/components/information-box/information-box.component.html
  packages/client/src/app/components/information-box/information-box.component.scss
  packages/client/src/app/components/information-box/information-box.component.spec.ts
  packages/client/src/app/components/information-box/information-box.component.ts
  packages/client/src/app/constants/game-constants.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.scss
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/stories/components/game/game-page-observer.component.stories.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/components/communication-box/communication-box.component.spec.ts
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.spec.ts
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
  packages/client/src/app/components/game/game-players/game-players.component.spec.ts
  packages/client/src/app/components/game/game-players/game-players.component.ts
  packages/client/src/app/components/game/game-tiles-left/game-tiles-left.component.spec.ts
  packages/client/src/app/components/game/game-timer/game-timer.component.spec.ts
  packages/client/src/app/pages/game-page-v2/game-page-v2.component.spec.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

oupsy daisy
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
Due: install:client, lint:client, build:client, test:client

disable tile rack for observer
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.scss
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
Due: install:client, lint:client, build:client, test:client

une belle methode pour thom
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
Due: install:client, lint:client, build:client, test:client

refactor
  packages/client/src/app/app.module.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.scss
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/stories/components/game/game-page-v2.component.stories.ts
Due: install:client, lint:client, build:client, test:client

buggy bug bug
  packages/client/src/app/services/board-service/board.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

commentssss
  packages/client/src/app/components/communication-box/communication-box.component.scss
Due: install:client, lint:client, build:client, test:client

Added auto-scroll
  packages/mobile/lib/components/game/game_messages.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
