Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

add utils functions
  packages/client/src/app/utils/settings/settings.ts
  packages/client/src/app/utils/settings/utils.ts
Due: install:client, lint:client, build:client, test:client

move fn to utils
  packages/client/src/app/utils/settings/utils.ts
  packages/client/src/app/utils/settings/validators/bool.ts
Due: install:client, lint:client, build:client, test:client

fixed api bug
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

add properties to restrict settings usage
  packages/client/src/app/utils/settings/types.ts
Due: install:client, lint:client, build:client, test:client

doc
  packages/client/src/app/utils/settings/types.ts
Due: install:client, lint:client, build:client, test:client

doc
  packages/client/src/app/utils/settings/validators/types.ts
Due: install:client, lint:client, build:client, test:client

Added map implementation to auth
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Refactor auth method
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Added tests foroath with socket
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

Added style to error box
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.scss
  packages/client/src/app/style/variables.scss
Due: install:client, lint:client, build:client, test:client

Added UX behaviour
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.ts
Due: install:client, lint:client, build:client, test:client

chatMessage class
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

user classes
  packages/mobile/lib/classes/user.dart
Due: none

Added login tests
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/pages/login-page/login-page.component.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.html
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

channel class
  packages/mobile/lib/classes/channel.dart
Due: none

Adjusted types
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
  packages/common/models/user.ts
Due: install:client, lint:client, build:client, test:client

debug session changes
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/socket-events.dart
  packages/mobile/lib/services/socket.service.dart
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Changed UX behaviour
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.ts
Due: install:client, lint:client, build:client, test:client

Changed error to snack bar
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.scss
  packages/client/src/app/components/login-container/login-container.component.ts
Due: install:client, lint:client, build:client, test:client

Added settings for tests
  packages/client/src/app/components/login-container/login-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Added tests for login component
  packages/client/src/app/components/login-container/login-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Removed fdescribe
  packages/client/src/app/components/login-container/login-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Removed comment
  packages/client/src/app/components/login-container/login-container.component.html
Due: install:client, lint:client, build:client, test:client

Cleaned code
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/pages/login-page/login-page.component.html
Due: install:client, lint:client, build:client, test:client

Added middleware Tests
  packages/server/app/middlewares/authentificate-token.spec.ts
Due: install:server, lint:server, build:server, test:server

Let login even if form errors
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.scss
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.html
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Removed unused function
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.ts
Due: install:client, lint:client, build:client, test:client

fix socket connexion session
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/socket-events.dart
Due: none

Update chat.controller.dart
  packages/mobile/lib/controllers/chat.controller.dart
Due: none

commit for merge [ci skip]
  packages/mobile/lib/components/chatbox.dart
Due: none

add TODO for adding chat Service [ci skip]
  packages/mobile/lib/components/chatbox.dart
Due: none

Empty message edge case (MR Comment fix)
  packages/mobile/lib/components/chatbox.dart
Due: none

[ci skip] fix MR comment (TO DO for removing hardcoded data)
  packages/mobile/lib/components/chatbox.dart
Due: none

socket url fix and removed server url from constant [ci skip]
  packages/mobile/lib/constants/socket-events.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

rnamed chat-> channel controller and fixed url socket [ci skip]
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

RS: Popup when invalid connection
  packages/mobile/lib/components/invalid-connection-popup.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

RS: Put into constants
  packages/mobile/lib/components/invalid-connection-popup.dart
  packages/mobile/lib/constants/invalid-connection-popup.dart
Due: none

removed ignored files [ci skip]
  packages/mobile/ios/Flutter/Debug.xcconfig
  packages/mobile/ios/Flutter/Release.xcconfig
Due: none

Removed unused list messages in controller [ci skip]
  packages/mobile/lib/controllers/channel.controller.dart
Due: none

RS: [ci skip]
  packages/mobile/lib/constants/invalid-connection-popup.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
