Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Fake changes to test pipeline
  packages/client/src/app/app.module.ts
  packages/server/app/app.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Changed needs to match dependencies
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Changed coverage requirements
  packages/client/karma.conf.js
  packages/server/package.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Excluded untestable service from coverage
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

Fixed broken test
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Created AuthentificationService
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

add storybook
  docker-compose.dev.yml
  packages/client/.storybook/main.js
  packages/client/.storybook/preview.js
  packages/client/.storybook/tsconfig.json
  packages/client/.storybook/typings.d.ts
  packages/client/angular.json
  packages/client/documentation.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/components/icon/icon.component.stories.ts
  packages/client/tsconfig.app.json
Due: install:client, lint:client, build:client, test:client

create chatbox and chatbox container
  packages/client/documentation.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/chatbox/chatbox.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.spec.ts
  packages/client/src/app/components/chatbox/chatbox.component.stories.ts
  packages/client/src/app/components/chatbox/chatbox.component.ts
  packages/client/src/app/pages/app/app.component.html
  packages/client/src/app/utils/emoji/emoji.ts
Due: install:client, lint:client, build:client, test:client

edit limits
  packages/client/angular.json
Due: install:client, lint:client, build:client, test:client

Flutter "empty" main page
  packages/flutter/light_client/analysis_options.yaml
  packages/flutter/light_client/lib/main.dart
  packages/flutter/light_client/pubspec.lock
  packages/flutter/light_client/pubspec.yaml
Due: none

division en files
  packages/flutter/light_client/lib/home-page.dart
  packages/flutter/light_client/lib/login.dart
  packages/flutter/light_client/lib/main.dart
Due: none

Added chat service
  packages/common/events/chat.event.ts
  packages/common/models/chat/channel.ts
  packages/common/models/chat/chat-message.ts
  packages/common/models/user.ts
  packages/server/app/constants/chat.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

added User table
  packages/server/migrations/20230202010523_create-user.js
Due: install:server, lint:server, build:server, test:server

Fix version sdk
  packages/mobile/.vscode/settings.json
  packages/mobile/analysis_options.yaml
  packages/mobile/lib/home-page.dart
  packages/mobile/lib/login.dart
  packages/mobile/lib/main.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
  packages/mobile/test/widget_test.dart
Due: none

removed flutter vestige
  .vscode/settings.json
Due: none

Added User Interface
  packages/server/app/classes/user/user.ts
Due: install:server, lint:server, build:server, test:server

Fixed live reload and added makefile command to run client not in docker
  Makefile
  docker-compose.dev-clientless.yml
  packages/client/package.json
  packages/server/package.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: First draft of creation page for LE
  LOG3990-103.code-workspace
  packages/mobile/lib/create-account-page.dart
  packages/mobile/lib/home-page.dart
  packages/mobile/lib/login.dart
  packages/mobile/lib/main.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

Data migration fixed
  packages/server/migrations/20230202010523_create-user.js
Due: install:server, lint:server, build:server, test:server

Added error event in sockets
  packages/common/events/chat.event.ts
  packages/common/events/events.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Added newMessage and newChannel tests
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added login, signUp, createToken functions
  packages/client/documentation.json
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/database-service/database.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added tests for join and quit channel
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Merged 2 methods
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

added JWT
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

Added test for SocketService
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Fixed import
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added channel verification for newMessage
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

added login function
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/utils/environment/environment.ts
Due: install:server, lint:server, build:server, test:server

Useless change to trigger pipeline
  packages/client/src/app/services/action-service/action.service.ts
Due: install:client, lint:client, build:client, test:client

Changed from MR comments
  packages/server/app/classes/communication/socket-type.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Added AuthenticateToken middleware
  packages/server/app/classes/communication/request.ts
  packages/server/app/middlewares/authentificate-token.ts
Due: install:server, lint:server, build:server, test:server

Removed .only
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

implemet chatbox view
  packages/client/.eslintrc.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.stories.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/chatbox/chatbox.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.stories.ts
  packages/client/src/app/components/chatbox/chatbox.component.ts
  packages/client/src/app/components/icon-button/icon-button.component.html
  packages/client/src/app/components/icon-button/icon-button.component.scss
  packages/client/src/app/components/icon-button/icon-button.component.spec.ts
  packages/client/src/app/components/icon-button/icon-button.component.ts
Due: install:client, lint:client, build:client, test:client

Added client profile to run with client in docker
  Makefile
  docker-compose.dev-clientless.yml
  docker-compose.dev.yml
Due: none

add user avatar to messages
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
