Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

number of observers create game
  packages/mobile/lib/pages/create-lobby.dart
Due: none

RS: Analysis working and throwing when empty
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/controllers/analysis-controller/analysis.controller.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
Due: install:server, lint:server, build:server, test:server

view joueurs en attente
  packages/mobile/lib/components/group/player-waiting-list.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

removed print
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

fix game view post merge
  packages/mobile/lib/pages/game-page.dart
Due: none

RS: Make difference between no analysis and 0 critical moments
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Move things into common
  packages/common/models/analysis.ts
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/classes/communication/action-data.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Move things around at more logical places
  packages/server/app/classes/tile/tile-reserve.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/board-service/board.service.ts
  packages/server/app/utils/string-conversion/string-conversion.ts
Due: install:server, lint:server, build:server, test:server

RS: Add and fix tests
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/round/round-manager.spec.ts
  packages/server/app/controllers/analysis-controller/analysis.controller.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added interfaces to common
  packages/common/models/position.ts
  packages/common/models/tile-placement.ts
  packages/common/models/tile.ts
Due: none

Added socket event to server
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

changed endpoint in server
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

client event types
  packages/client/src/app/services/game-view-event-manager-service/event-types.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.ts
Due: install:client, lint:client, build:client, test:client

updated gameService
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/services/board-service/board.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

Added puzzle player class
  packages/mobile/lib/classes/puzzle/puzzle-player.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/components/player/puzzle-player.dart
  packages/mobile/lib/constants/puzzle-constants.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Added player avatar to puzzle page
  packages/mobile/lib/classes/puzzle/puzzle-player.dart
  packages/mobile/lib/components/player/puzzle-player.dart
  packages/mobile/lib/pages/puzzle-page.dart
Due: none

Cleanup
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
  packages/mobile/lib/constants/socket-constants.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
Due: none

clean up dialog box
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Added library and sound
  packages/mobile/assets/sounds/notification.wav
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

Added bing
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/assets.constants.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/services/channel.service.dart
  packages/mobile/pubspec.yaml
Due: none

Register active channel controller
  packages/mobile/lib/locator.dart
Due: none

create puzzle
  .gitignore
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/round/timer.ts
  packages/client/src/app/components/board2/board2.component.html
  packages/client/src/app/components/board2/board2.component.ts
  packages/client/src/app/components/square/square.component.ts
  packages/client/src/app/components/start-puzzle-modal/start-puzzle-modal.component.html
  packages/client/src/app/components/start-puzzle-modal/start-puzzle-modal.component.scss
  packages/client/src/app/components/start-puzzle-modal/start-puzzle-modal.component.spec.ts
  packages/client/src/app/components/start-puzzle-modal/start-puzzle-modal.component.ts
  packages/client/src/app/components/start-puzzle-modal/stat-puzzle-modal.component.stories.ts
  packages/client/src/app/controllers/puzzle-controller/puzzle.controller.spec.ts
  packages/client/src/app/controllers/puzzle-controller/puzzle.controller.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.scss
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.spec.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.spec.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.ts
  packages/client/src/app/stories/components/game/board.stories.ts
  packages/client/src/app/stories/components/game/game-page.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/client/src/app/utils/settings/index.ts
Due: install:client, lint:client, build:client, test:client

Update join-game.constants.dart
  packages/mobile/lib/constants/join-game.constants.dart
Due: none

Update individual-group.dart
  packages/mobile/lib/components/group/individual-group.dart
Due: none

Update game-password-pop-up.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

improve code
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

refactor
  packages/client/src/app/classes/board-navigator/board-navigator.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

lint
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

test
  packages/client/src/app/services/game-service/game.service.spec.ts
Due: install:client, lint:client, build:client, test:client

play on enter
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

Added opponentPlacedTiles logic to board
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

typo
  packages/client/src/app/components/board/board.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Change ActionType to common
  packages/common/models/action.ts
  packages/server/app/classes/actions/action-exchange/action-exchange.ts
  packages/server/app/classes/actions/action-pass/action-pass.ts
  packages/server/app/classes/actions/action-place/action-place.ts
  packages/server/app/classes/communication/action-data.ts
Due: install:server, lint:server, build:server, test:server

RS: Make changes according to comments
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/round/round-manager.ts
Due: install:server, lint:server, build:server, test:server

tests
  packages/common/models/position.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

PlaceRequest
  packages/server/app/classes/communication/request.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

validator
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/middlewares/validators/tile-placement.ts
Due: install:server, lint:server, build:server, test:server

observateur join waiting room
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

padding
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

RS: Use common action type
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/server/app/classes/square/square.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.spec.ts
  packages/server/app/utils/placement-to-string/placement-to-string.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
