Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

move error response to common
  packages/common/models/error.ts
  packages/server/app/middlewares/error-handler.ts
Due: install:server, lint:server, build:server, test:server

added use session interface
  packages/common/models/user.ts
Due: none

created abstract controller
  packages/client/src/app/controllers/abstract-controller.ts
Due: install:client, lint:client, build:client, test:client

created authentication controller
  packages/client/src/app/controllers/authentication-controller/authentication.controller.spec.ts
  packages/client/src/app/controllers/authentication-controller/authentication.controller.ts
Due: install:client, lint:client, build:client, test:client

created and tested authentication service
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
Due: install:client, lint:client, build:client, test:client

Removed Todo
  packages/client/src/app/pages/signup-page/signup-page.component.html
Due: install:client, lint:client, build:client, test:client

Changed user interface
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed tests
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

remote autofocus
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
Due: install:client, lint:client, build:client, test:client

fixed imports
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed MR comments
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.ts
Due: install:client, lint:client, build:client, test:client

change to channelMessage LO
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/common/events/chat.event.ts
  packages/common/models/chat/chat-message.ts
Due: install:client, lint:client, build:client, test:client

change to channelMessage LE
  packages/mobile/lib/classes/channel-message.dart
  packages/mobile/lib/components/chatbox.dart
Due: none

change to channelMessage SE
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

rename initializeService
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/socket-service/socket.service.spec.ts
  packages/client/src/app/services/socket-service/socket.service.ts
Due: install:client, lint:client, build:client, test:client

update initialization service to handle socket reconnection
  packages/client/src/app/classes/connection-state-service/connection-state.ts
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/pages/app/app.component.html
  packages/client/src/app/pages/app/app.component.ts
  packages/client/src/app/pages/loading-page/loading-page.component.html
  packages/client/src/app/pages/loading-page/loading-page.component.scss
  packages/client/src/app/pages/loading-page/loading-page.component.ts
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/database-service/database.service.spec.ts
  packages/client/src/app/services/database-service/database.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.spec.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/socket-service/socket.service.spec.ts
  packages/client/src/app/services/socket-service/socket.service.ts
Due: install:client, lint:client, build:client, test:client

add send message button
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
Due: install:client, lint:client, build:client, test:client

Added auth-Socket middleware
  packages/server/app/middlewares/authentificate-socket.spec.ts
  packages/server/app/middlewares/authentificate-socket.ts
Due: install:server, lint:server, build:server, test:server

moved code
  packages/server/app/middlewares/authentificate-socket.spec.ts
  packages/server/app/middlewares/authentificate-socket.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

new auth prototype
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Added socketAuth refactored
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

use db to store channels
  packages/client/src/app/classes/admin/admin-game-history.ts
  packages/client/src/app/classes/game-history/game-histories-converter.ts
  packages/client/src/app/components/admin-game-history/admin-game-history.component.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/game-history-service/game-history.service.ts
  packages/client/src/app/services/high-score-service/high-score.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/common/models/chat/channel.ts
  packages/common/models/chat/chat-message.ts
  packages/common/models/game-history.ts
  packages/common/models/high-score.ts
  packages/common/types/id.ts
  packages/common/types/no-id.ts
  packages/server/app/constants/chat.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/game-history-service/game-history.service.spec.ts
  packages/server/app/services/high-score-service/high-score.service.spec.ts
  packages/server/app/services/high-score-service/high-score.service.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
  packages/server/app/utils/socket.ts
  packages/server/migrations/20230208170836_chat-persistence.js
  packages/server/tsconfig.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

refactor everything
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Fix magic string
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

removed emit from client
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

handle errors better for sockets
  packages/client/src/app/services/alert-service/alert.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/common/events/events.ts
  packages/common/models/error.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/middlewares/error-handler.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

remove comment
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

save join channel to db only if not already there
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

delete user channel join event if not in socket
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

fix tests
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix client test
  packages/client/src/app/classes/game-history/game-histories-converter.spec.ts
  packages/client/src/app/components/admin-game-history/admin-game-history.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

fix - Ajouter userId au socket
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

debut salle d'attente
  packages/mobile/lib/classes/player.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

waiting room accepted players
  packages/mobile/lib/pages/create-lobby.dart
Due: none

RS: First draft of 4 player game
  packages/server/app/classes/communication/game-update-data.ts
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/utils/random/random.ts
Due: install:server, lint:server, build:server, test:server

New token on validate
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

fix auth validate
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

refactor view
  packages/mobile/lib/classes/player.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

init coms with backend
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

RS: Everything 4 player working
  packages/server/app/classes/actions/action-exchange/action-exchange.ts
  packages/server/app/classes/actions/action-place/action-place.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/objective-service/objective.service.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.ts
Due: install:server, lint:server, build:server, test:server
