Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

added constant
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

[ci skip]
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

Added scrollbar
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/constants/user.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

code session fix
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Handle join group button
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/constants/user.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

RS: Comment all admin pages
  packages/client/src/app/components/admin-dictionaries-component/admin-dictionaries.component.html
  packages/client/src/app/components/admin-dictionaries-component/admin-dictionaries.component.scss
  packages/client/src/app/components/admin-dictionaries-component/admin-dictionaries.component.spec.ts
  packages/client/src/app/components/admin-dictionaries-component/admin-dictionaries.component.ts
  packages/client/src/app/components/admin-game-history/admin-game-history.component.html
  packages/client/src/app/components/admin-game-history/admin-game-history.component.scss
  packages/client/src/app/components/admin-game-history/admin-game-history.component.spec.ts
  packages/client/src/app/components/admin-game-history/admin-game-history.component.ts
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.html
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.scss
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.spec.ts
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.ts
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.html
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.spec.ts
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.ts
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.types.ts
Due: install:client, lint:client, build:client, test:client

RS: Virtual player and dictionnary admin commented
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.html
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.scss
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.spec.ts
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.ts
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.html
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.scss
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.spec.ts
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.ts
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.types.ts
  packages/client/src/app/components/delete-virtual-player-dialog/delete-virtual-player-dialog.component.html
  packages/client/src/app/components/delete-virtual-player-dialog/delete-virtual-player-dialog.component.scss
  packages/client/src/app/components/delete-virtual-player-dialog/delete-virtual-player-dialog.component.spec.ts
  packages/client/src/app/components/delete-virtual-player-dialog/delete-virtual-player-dialog.component.ts
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.html
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.scss
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.spec.ts
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.ts
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.types.ts
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player-dialog.component.html
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player-dialog.component.scss
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player-dialog.component.spec.ts
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player-dialog.component.ts
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player.component.types.ts
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.html
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.scss
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.spec.ts
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.ts
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.types.ts
  packages/client/src/app/pages/admin-page/admin-page.component.html
  packages/client/src/app/pages/admin-page/admin-page.component.scss
  packages/client/src/app/pages/admin-page/admin-page.component.spec.ts
  packages/client/src/app/pages/admin-page/admin-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS : more commenting of dictionnary and VP on client
  packages/client/src/app/controllers/dictionary-controller/dictionary.controller.spec.ts
  packages/client/src/app/controllers/dictionary-controller/dictionary.controller.ts
  packages/client/src/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.spec.ts
  packages/client/src/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.ts
  packages/client/src/app/services/dictionary-service/dictionary.service.spec.ts
  packages/client/src/app/services/dictionary-service/dictionary.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Change Lobby for group
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/communication/game-config.ts
  packages/client/src/app/classes/communication/index.ts
  packages/client/src/app/classes/communication/lobby-data.ts
  packages/client/src/app/classes/communication/lobby-info.ts
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.scss
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/components/lobby-info/lobby-info.component.html
  packages/client/src/app/components/lobby-info/lobby-info.component.ts
  packages/client/src/app/pages/group-page/group-page.component.html
  packages/client/src/app/pages/group-page/group-page.component.scss
  packages/client/src/app/pages/group-page/group-page.component.spec.ts
  packages/client/src/app/pages/group-page/group-page.component.ts
  packages/server/app/classes/communication/lobby-data.ts
  packages/server/app/classes/player/virtual-player-level.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Change group into lobby
  packages/client/src/app/constants/component-errors.ts
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.spec.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.ts
  packages/common/models/group-info.ts
  packages/common/models/group.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket-types.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Remove game mode and gametype from gameconfigs
  packages/client/src/app/constants/controller-test-constants.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.spec.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.html
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.html
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.spec.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.spec.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
  packages/server/app/utils/convert-to-lobby-data/convert-to-lobby-data.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: add interfaces to commun
  packages/common/models/game-visibility.ts
  packages/common/models/virtual-player-level.ts
Due: none

Join waiting page
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

RS: Change server to use gorups terminology
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/pages/group-page/group-page.component.html
  packages/client/src/app/pages/group-page/group-page.component.spec.ts
  packages/client/src/app/pages/group-page/group-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/classes/communication/request.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

use user instead of username
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/services/game.service.dart
Due: none

RS: remove gametype and gamemode
  packages/common/models/game-history.ts
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/game-mode.ts
  packages/server/app/classes/game/game-type.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/controllers/dictionary-controller/dictionary.controller.spec.ts
  packages/server/app/controllers/dictionary-controller/dictionary.controller.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.spec.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.ts
Due: install:server, lint:server, build:server, test:server

default value
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/square.dart
Due: none

Changed waiting room
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/components/parameters.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/constants/game-constants.dart
  packages/mobile/lib/constants/game.dart
  packages/mobile/lib/constants/socket-events/chat-events.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/constants/user-constants.dart
  packages/mobile/lib/constants/user.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Fixed users not resetting problem
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/constants/game-constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Fixed route bug
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/routes/navigator-key.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Cleanup
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/components/no-group-entry.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/constants/locale/group-selection-constants.dart
  packages/mobile/lib/constants/locale/groups-constants.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Added waiting page
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/components/parameters.dart
  packages/mobile/lib/constants/locale/group-selection-constants.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Added canceled and reject event handling
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Added test data
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/group-waiting-page.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

grind session v1
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/authentification-service.dart
  packages/mobile/pubspec.yaml
Due: none

RS: User public user in player
  packages/client/src/app/classes/communication/game-config.ts
  packages/client/src/app/classes/communication/player-data.ts
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/classes/player/player.ts
  packages/client/src/app/constants/components-constants.ts
  packages/client/src/app/constants/game-constants.ts
  packages/client/src/app/constants/pages-constants.ts
  packages/common/models/group-info.ts
  packages/common/models/group.ts
  packages/server/app/classes/actions/action-exchange/action-exchange.ts
  packages/server/app/classes/actions/action-pass/action-pass.ts
  packages/server/app/classes/actions/action-place/action-place.spec.ts
  packages/server/app/classes/actions/action-place/action-place.ts
  packages/server/app/classes/communication/game-update-data.ts
  packages/server/app/classes/communication/player-data.ts
  packages/server/app/classes/communication/request.ts
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/player/player.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/classes/virtual-player/abstract-virtual-player/abstract-virtual-player.ts
  packages/server/app/utils/convert-to-group/convert-to-group.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Remove gamemode and gametype from high socre
  packages/client/src/app/services/high-score-service/high-score.service.ts
  packages/common/models/high-score.ts
  packages/server/app/services/high-score-service/high-score.service.ts
  packages/server/migrations/20230227032629_remove_game_mode_attribute.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Remove unused components and services
  packages/client/src/app/components/convert-dialog/convert-dialog.component.spec.ts
  packages/client/src/app/components/convert-dialog/convert-dialog.component.ts
  packages/client/src/app/components/name-field/name-field.component.html
  packages/client/src/app/components/name-field/name-field.component.scss
  packages/client/src/app/components/name-field/name-field.component.spec.ts
  packages/client/src/app/components/name-field/name-field.component.ts
  packages/client/src/app/components/objective-box/objective-box.component.html
  packages/client/src/app/components/objective-box/objective-box.component.scss
  packages/client/src/app/components/objective-box/objective-box.component.spec.ts
  packages/client/src/app/components/objective-box/objective-box.component.ts
  packages/client/src/app/services/objectives-manager-service/objectives-manager.service.spec.ts
  packages/client/src/app/services/objectives-manager-service/objectives-manager.service.ts
  packages/client/src/app/services/virtual-player-profile-service/virtual-player-profile.service.spec.ts
  packages/client/src/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Adapt groupinfo to Groups
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/components/information-box/information-box.component.html
  packages/client/src/app/components/information-box/information-box.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove gametype from communication box
  packages/client/src/app/components/communication-box/communication-box.component.html
  packages/client/src/app/components/communication-box/communication-box.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Rename component for requesting players and add all logic to it
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.html
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.spec.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.stories.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add dialog for requesting players
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.scss
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.types.ts
Due: install:client, lint:client, build:client, test:client

RS: Change controllers form new socket events
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Clients handle new socket events
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Revamp join waiting page for groups and enw socket events
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.html
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Update group page with groups and new events
  packages/client/src/app/pages/group-page/group-page.component.html
  packages/client/src/app/pages/group-page/group-page.component.spec.ts
  packages/client/src/app/pages/group-page/group-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Create waiting page handle new events and groups
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove namefield and game mode/gametype in game creation
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove unused components and update routes
  packages/client/src/app/app.module.ts
  packages/server/app/routes/routes.module.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Handle public user
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.ts
  packages/server/app/controllers/index.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server
