Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Update game.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Update group.methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Added dev dependency to run server
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

button
  packages/mobile/lib/components/game/game_actions.dart
Due: none

Update game-play.controller.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

methods adjust
  packages/mobile/lib/services/game.service.dart
Due: none

removed event
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

new snackbar
  packages/mobile/lib/components/error-pop-up.dart
Due: none

error and success management
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/controllers/notification-controller.dart
  packages/mobile/lib/services/notification.service.dart
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

fix snackbars
  packages/mobile/lib/components/error-pop-up.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

create menu popup
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/edit-theme.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/components/user-menu.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

remove comments
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

make message clearer on LO
  packages/client/src/app/components/tile-rack/tile-rack.component.html
Due: install:client, lint:client, build:client, test:client

change exchange behavior
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/multiplayer-tile-rack.dart
  packages/mobile/lib/components/puzzle/puzzle-tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack/abstract-tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack/clear-placed-tiles.dart
  packages/mobile/lib/components/tile/tile-rack/shuffle-tile-rack-button.dart
  packages/mobile/lib/components/tile/tile-rack/toggle-exchange-mode.dart
Due: none

idk
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

wrong branch sorry
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

try
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

p
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

reset
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

RS: fix deco
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/server/app/classes/game/room.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/constants/classes-constants.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Update game_actions.dart
  packages/mobile/lib/components/game/game_actions.dart
Due: none

body fix
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

code session su7ooor
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

name change
  packages/server/app/controllers/analysis-controller/analysis.controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/database-controller/database.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
  packages/server/app/controllers/server-action-controller/server-action.controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/factories/virtual-player-factory/virtual-player-factory.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/notification-service/notification.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

try3
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

b
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

gg
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

ggg
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

back to v1
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

button for notifi
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

create form bug fix
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

update logic replace
  packages/mobile/lib/components/game/game_actions.dart
Due: none

get the index and the isObserving JV
  packages/mobile/lib/components/player/players_container.dart
Due: none

actual
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

stream builder added
  packages/mobile/lib/components/game/game_actions.dart
  packages/server/app/constants/virtual-player-constants.ts
Due: install:server, lint:server, build:server, test:server

fix index bug
  packages/mobile/lib/components/game/game_actions.dart
Due: none

Update players_container.dart
  packages/mobile/lib/components/player/players_container.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
