Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Added back button option in scaffold
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/pages/create-game-page.dart
  packages/mobile/lib/pages/groups-page.dart
Due: none

Added background selection
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/pages/create-game-page.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Changed button width
  packages/mobile/lib/pages/groups-request-waiting-page.dart
Due: none

avatar jv
  packages/server/app/classes/virtual-player/abstract-virtual-player/abstract-virtual-player.ts
  packages/server/app/constants/avatar.ts
  packages/server/app/factories/virtual-player-factory/virtual-player-factory.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

profile page change
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/constants/theme-constants.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/services/theme-color-service.dart
  packages/mobile/pubspec.yaml
Due: none

Added analysis button to game history
  packages/mobile/lib/classes/game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/controllers/analysis-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/analysis-service.dart
Due: none

disabled button if no analysis
  packages/mobile/lib/classes/game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
Due: none

RS: Fix visual
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.html
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.scss
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.ts
  packages/client/src/app/pages/game-page/game-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
Due: install:client, lint:client, build:client, test:client

fix view pages
  packages/mobile/lib/components/group/group-management.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

RS: Elo part 1
  packages/common/models/user-statistics.ts
  packages/server/app/classes/player/player.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/rating-service/rating.service.spec.ts
  packages/server/app/services/rating-service/rating.service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:server, lint:server, build:server, test:server

RS: Change idGame to idGameHistory
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.spec.ts
  packages/common/models/analysis.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.spec.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.spec.ts
  packages/server/app/services/analysis-service/analysis.service.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/migrations/20230317001154_analysis.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fix persistance
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/group/player-waiting-list.dart
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

RS: Fix tests
  packages/client/src/app/controllers/analysis-controller/analysis.controller.spec.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

UI button for analysis in gme history
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
Due: none

RS: actually fix tests
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: Fix forreal
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

color persist
  packages/mobile/lib/components/group/waiting-room.dart
  packages/mobile/lib/main.dart
Due: none

last touches
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/pages/login-page.dart
Due: none

fixes
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/group/individual-group.dart
Due: none

RS: First real version of elo
  packages/client/src/app/app.module.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pages/home-page/home-page.component.ts
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.html
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.scss
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.spec.ts
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/services/user-service/user.service.ts
  packages/common/models/user.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
  packages/server/migrations/20230329170857_add-elo-rating.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fix back button
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

QC !!
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

yes i can mr thom
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

dialog
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.scss
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.stories.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.ts
Due: install:client, lint:client, build:client, test:client

merge fix
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/stories/components/game/game-page-observer.component.stories.ts
  packages/client/src/app/stories/components/game/game-page-v2.component.stories.ts
Due: install:client, lint:client, build:client, test:client

ignore generated files
  .gitignore
  packages/mobile/linux/flutter/generated_plugin_registrant.cc
  packages/mobile/linux/flutter/generated_plugins.cmake
  packages/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/mobile/windows/flutter/generated_plugin_registrant.cc
  packages/mobile/windows/flutter/generated_plugins.cmake
Due: none

cleanup imports
  packages/mobile/lib/controllers/analysis-controller.dart
  packages/mobile/lib/services/analysis-service.dart
Due: none

RS: Add elo to profile apge
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add rating leaderboard page
  packages/client/src/app/app.module.ts
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.html
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.scss
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.ts
  packages/client/src/app/services/locator-service/locator.service.spec.ts
  packages/client/src/app/services/locator-service/locator.service.ts
Due: install:client, lint:client, build:client, test:client

RS: add elo changes into end of game logic
  packages/client/src/app/classes/communication/player-data.ts
  packages/client/src/app/classes/player/player.ts
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/common/models/game-history.ts
  packages/common/models/player.ts
Due: install:client, lint:client, build:client, test:client

RS: Give defualt rating to VP
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.ts
Due: install:server, lint:server, build:server, test:server

RS: Adjust bugs to rating service
  packages/server/app/services/rating-service/rating.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Go fetch the elo of players at the start of the game
  packages/server/app/services/active-game-service/active-game.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Add statistics on account creation
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Add elo chaing after game and abandon
  packages/server/app/classes/communication/player-data.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
  packages/server/migrations/20230329170857_add-elo-rating.js
Due: install:server, lint:server, build:server, test:server

RS: Adjust buttons for end of game
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.scss
Due: install:client, lint:client, build:client, test:client

Added analysis request dialog
  packages/mobile/lib/components/LoadingDots.dart
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

Added AppCircularSpinner
  packages/mobile/lib/components/AppCircularSpinner.dart
  packages/mobile/lib/components/analysis/analysis-overview.dart
Due: none

Use AppCircularSpinner
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
Due: none

Added analysis overview
  packages/mobile/lib/components/analysis/analysis-overview.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
