Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

more view + more view reafctor
  packages/mobile/lib/pages/create-lobby.dart
Due: none

Started implementing the chat room joining
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/constants/chat.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

Finished chat room joining
  packages/server/app/classes/game/game-config.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/constants/chat.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

use ChannelCreation for 'channel:newChannel'
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

connect login/signup wrappers, add guards and separate user/authentication service
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/controllers/authentication-controller/authentication.controller.ts
  packages/client/src/app/guard/private-route/private-route.guard.spec.ts
  packages/client/src/app/guard/private-route/private-route.guard.ts
  packages/client/src/app/guard/public-route/public-route.guard.spec.ts
  packages/client/src/app/guard/public-route/public-route.guard.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/client/src/app/services/user-service/user.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.html
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
  packages/common/models/user.ts
Due: install:client, lint:client, build:client, test:client

move messages to consts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

validate token on intitialize
  packages/client/src/app/app.module.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
Due: install:client, lint:client, build:client, test:client

update header to be able to hide back button
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/header-btn/header-btn.component.html
  packages/client/src/app/components/header-btn/header-btn.component.scss
  packages/client/src/app/components/header-btn/header-btn.component.spec.ts
  packages/client/src/app/components/header-btn/header-btn.component.ts
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/page-header/page-header.component.scss
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.html
  packages/client/src/app/pages/lobby-page/lobby-page.component.html
  packages/client/src/app/pages/lobby-page/lobby-page.component.scss
  packages/client/src/app/pages/login-page/login-page.component.html
  packages/client/src/app/pages/signup-page/signup-page.component.html
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
Due: install:client, lint:client, build:client, test:client

auth fix
  packages/common/models/user.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/migrations/20230214051020_add_new_avatar_column_to_user.js
Due: install:server, lint:server, build:server, test:server

Fixed SQL request
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

RS: 4 player working with hacks
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed broken tests
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/player/player.spec.ts
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.spec.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/objective-service/objective.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

edit user interface
  packages/common/models/user.ts
Due: none

change server to adjust to client
  packages/server/app/classes/user/connected-user.ts
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

implement all in client
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/page-header/page-header.component.scss
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/controllers/authentication-controller/authentication.controller.ts
  packages/client/src/app/middlewares/authentication.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/modules/material.module.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/client/src/assets/img/avatars/avatar-1.png
  packages/client/src/assets/img/avatars/avatar-10.png
  packages/client/src/assets/img/avatars/avatar-11.png
  packages/client/src/assets/img/avatars/avatar-12.png
  packages/client/src/assets/img/avatars/avatar-13.png
  packages/client/src/assets/img/avatars/avatar-14.png
  packages/client/src/assets/img/avatars/avatar-15.png
  packages/client/src/assets/img/avatars/avatar-16.png
  packages/client/src/assets/img/avatars/avatar-17.png
  packages/client/src/assets/img/avatars/avatar-2.png
  packages/client/src/assets/img/avatars/avatar-3.png
  packages/client/src/assets/img/avatars/avatar-4.png
  packages/client/src/assets/img/avatars/avatar-5.png
  packages/client/src/assets/img/avatars/avatar-6.png
  packages/client/src/assets/img/avatars/avatar-7.png
  packages/client/src/assets/img/avatars/avatar-8.png
  packages/client/src/assets/img/avatars/avatar-9.png
Due: install:client, lint:client, build:client, test:client

Added chat service tests
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix server tests
  packages/server/app/classes/user/connected-user.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix client tests
  packages/client/src/app/components/alert/alert.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/header-btn/header-btn.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/guard/private-route/private-route.guard.spec.ts
  packages/client/src/app/guard/public-route/public-route.guard.spec.ts
  packages/client/src/app/pages/admin-page/admin-page.component.spec.ts
  packages/client/src/app/pages/app/app.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.spec.ts
  packages/client/src/app/pages/lobby-page/lobby-page.component.spec.ts
  packages/client/src/app/pages/login-page/login-page.component.spec.ts
  packages/client/src/app/pages/signup-page/signup-page.component.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.spec.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

test login and signup wrappers
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

use interface UserSession
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

test everything
  packages/client/src/app/classes/authentication/token-validation.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/controllers/abstract-controller.ts
  packages/client/src/app/controllers/authentication-controller/authentication.controller.spec.ts
  packages/client/src/app/guard/private-route/private-route.guard.spec.ts
  packages/client/src/app/guard/private-route/private-route.guard.ts
  packages/client/src/app/guard/public-route/public-route.guard.spec.ts
  packages/client/src/app/guard/public-route/public-route.guard.ts
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/initializer-service/initializer.service.spec.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

Added game dispatcher controller tests
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

Added and fixed dispatcher service tests
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

Added create game service tests
  packages/server/app/services/create-game-service/create-game.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added and fixed active game service tests
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/active-game-service/active-game.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed socket tests
  packages/server/app/constants/services-constants/socket-consts.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

lint
  packages/server/app/services/active-game-service/active-game.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Removed comments
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

Fixed test
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

remove comments
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

use const for routes
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/guard/private-route/private-route.guard.ts
  packages/client/src/app/guard/public-route/public-route.guard.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

add -1 to magic-number ignore
  .eslintrc.json
  packages/client/src/app/classes/square/square-view.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/timer-selection/timer-selection.component.spec.ts
  packages/client/src/app/controllers/abstract-controller.ts
Due: install:client, lint:client, build:client, test:client

remove comments
  packages/client/src/app/pages/app/app.component.ts
Due: install:client, lint:client, build:client, test:client

remove accidentally added package
  packages/client/package-lock.json
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

add return type
  packages/server/app/classes/user/connected-user.ts
Due: install:server, lint:server, build:server, test:server

add throw if id not found
  packages/server/app/classes/user/connected-user.ts
Due: install:server, lint:server, build:server, test:server

use bool constructor instead of !!
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

use functions instead of coping observable
  packages/client/src/app/components/page-header/page-header.component.html
Due: install:client, lint:client, build:client, test:client

use functions instead of coping observable
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/components/page-header/page-header.component.ts
Due: install:client, lint:client, build:client, test:client

change error message
  packages/client/src/app/constants/authentification-constants.ts
Due: install:client, lint:client, build:client, test:client
