Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

stop key propagation
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
Due: install:client, lint:client, build:client, test:client

unselect cursor on click elsewhere
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

visibility fixes
  packages/mobile/lib/classes/game-visibility.dart
  packages/mobile/lib/components/create-game/game-visibility-toggle.dart
Due: none

removed useless widgets
  packages/mobile/lib/pages/create-game-page.dart
Due: none

really clear cursor
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
Due: install:client, lint:client, build:client, test:client

last view changes
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/create-game/virtual-player-toggle.dart
  packages/mobile/lib/constants/create-game.constants.dart
Due: none

fix protected
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/create-game/visibility-widget.dart
Due: none

RS: Fix avatar 0x0
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.ts
Due: install:client, lint:client, build:client, test:client

use right names
  packages/mobile/lib/components/group/parameters.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

fix password isFormValid
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

RS: Add awaits
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

visual when in leaderboard
  packages/mobile/lib/pages/leaderboard.dart
Due: none

spinner too big fix
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
Due: none

keep app button disabled when no action
  packages/mobile/lib/components/app_button.dart
Due: none

Fixed double blank tile bug
  packages/mobile/lib/classes/game/game_messages.dart
Due: none

visual changes acc to mr
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/create-game/virtual-player-toggle.dart
  packages/mobile/lib/components/create-game/visibility-widget.dart
  packages/mobile/lib/constants/create-game.constants.dart
Due: none

Fixed put tiles back not always working
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

stop propagation [ci-skip]
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/components/board/board.component.ts
Due: install:client, lint:client, build:client, test:client

remove space
  packages/client/src/app/components/board/board.component.html
Due: install:client, lint:client, build:client, test:client

RS : Fix replacement
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/classes/virtual-player/abstract-virtual-player/abstract-virtual-player.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

added tooltip for real players observing
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
Due: install:client, lint:client, build:client, test:client

added css class for replace button
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
Due: install:client, lint:client, build:client, test:client

fix create game visibility
  packages/mobile/lib/classes/group.dart
Due: none

android files firebase
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/google-services.json
  packages/mobile/android/build.gradle
Due: none

fix http request handling
  packages/mobile/lib/controllers/notification-controller.dart
  packages/server/app/classes/communication/request.ts
  packages/server/app/controllers/notification-controller/notification.controller.ts
  packages/server/app/routes/routes.module.ts
Due: install:server, lint:server, build:server, test:server

Empêcher indice d'être joué si pas le tour
  packages/mobile/lib/components/game/game_messages.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/game-messages.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

added consts
  packages/mobile/lib/constants/game-messages-constants.dart
  packages/mobile/lib/constants/locale/game-message-constants.dart
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

test for activegame
  packages/server/app/services/active-game-service/active-game.service.spec.ts
Due: install:server, lint:server, build:server, test:server

closed app message handling
  packages/mobile/lib/main.dart
Due: none

Colored error
  packages/mobile/lib/constants/game-messages-constants.dart
  packages/mobile/lib/constants/locale/game-message-constants.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

fix color button
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
Due: install:client, lint:client, build:client, test:client

Removed player profile icon when not in home
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

removed command message
  packages/mobile/lib/services/game-messages.service.dart
Due: none

Fixed puzzle streak not reseting
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
  packages/mobile/lib/components/puzzle/start-practice-puzzle-dialog.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

fix tooltip
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
Due: install:client, lint:client, build:client, test:client

cut comment
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

Update game-play.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Update round-manager.ts
  packages/server/app/classes/round/round-manager.ts
Due: install:server, lint:server, build:server, test:server

change way to prevent write while choosing blank tile
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.ts
Due: install:client, lint:client, build:client, test:client

remove double backspace
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client
