Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Changed profile name
  Makefile
  docker-compose.dev.yml
Due: none

Forgot profiles
  Makefile
Due: none

allow two icons for channel
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.stories.ts
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/chatbox/chatbox.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.ts
Due: install:client, lint:client, build:client, test:client

connect chat to backend
  packages/client/.eslintrc.json
  packages/client/documentation.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/chat/channel.ts
  packages/client/src/app/classes/communication/socket-type.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/pages/app/app.component.html
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/services/user-service/user.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.scss
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fix style
  packages/client/src/app/components/chatbox/chatbox.component.scss
Due: install:client, lint:client, build:client, test:client

allow create channels
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.stories.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fix bug where you add to click twice on button
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

open channel when creating it
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Added TOKEN_SECRET to env
  packages/server/app/utils/environment/environment.ts
Due: install:server, lint:server, build:server, test:server

style
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.scss
Due: install:client, lint:client, build:client, test:client

allow join channel from name
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: First working version of account creation
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/form-input-field.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/create-account-page.dart
  packages/mobile/lib/environments/environment.dart
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/login.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/lib/services/account-authentification-service.dart
  packages/mobile/lib/services/theme-color-service.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

setup tests
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/socket-service/socket.service.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

test shit
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/components/chatbox/chatbox.component.spec.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/utils/emoji/emoji.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Added AuthentificationController
  packages/client/documentation.json
  packages/server/app/app.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/controllers/index.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fixed tests
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: Put server port in .env file
  packages/mobile/.gitignore
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

RS: Load .env file
  packages/mobile/lib/main.dart
Due: none

fixed env variable
  packages/server/app/utils/environment/environment.ts
Due: install:server, lint:server, build:server, test:server

RS: Add default port if .env not setup
  packages/mobile/lib/environments/environnement-config.dart
Due: none

RS: Constant and error strings
  packages/mobile/lib/constants/create-account-constants.dart
  packages/mobile/lib/constants/create-account-errors.dart
Due: none

RS: Add TextFieldHandler for cleaner code
  packages/mobile/lib/classes/text-field-handler.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/form-input-field.dart
Due: none

RS: Cleanup
  packages/mobile/lib/main.dart
Due: none

RS: Remove unnecessary imports, cleanup
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/classes/text-field-handler.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

Make button enabled before first submit
  packages/mobile/lib/components/create-account-form.dart
Due: none

RS: Spacing and changer helper text down
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/constants/create-account-constants.dart
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/src/pages/create-account-page.dart
Due: none

Login + signUp body
  packages/client/documentation.json
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/database-service/database.service.ts
  packages/server/migrations/20230202010523_create-user.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Refactor
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

handle quit
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

refactor name
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

add errors
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/alert/alert.ts
  packages/client/src/app/components/alert/alert.component.html
  packages/client/src/app/components/alert/alert.component.scss
  packages/client/src/app/components/alert/alert.component.spec.ts
  packages/client/src/app/components/alert/alert.component.ts
  packages/client/src/app/services/alert-service/alert.service.spec.ts
  packages/client/src/app/services/alert-service/alert.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/client/src/styles.scss
  packages/common/events/events.ts
Due: install:client, lint:client, build:client, test:client

test shit
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.spec.ts
  packages/client/src/app/components/alert/alert.component.spec.ts
  packages/client/src/app/components/communication-box/communication-box.component.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/client/src/app/controllers/player-leave-controller/player-leave.controller.spec.ts
  packages/client/src/app/pages/app/app.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.spec.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.spec.ts
  packages/client/src/app/services/action-service/action.service.spec.ts
  packages/client/src/app/services/alert-service/alert.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
  packages/client/src/app/services/initializer-service/initializer.service.spec.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.spec.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.spec.ts
  packages/client/src/app/services/socket-service/socket.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Added bcrypt dep
  packages/client/documentation.json
  packages/server/package-lock.json
  packages/server/package.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

db requests fix
  packages/server/app/services/database-service/database.service.ts
Due: install:server, lint:server, build:server, test:server

tokenData interface added
  packages/server/app/classes/user/token-data.ts
Due: install:server, lint:server, build:server, test:server

A very nice refactor
  packages/server/app/classes/user/user.ts
  packages/server/app/constants/services-constants/bcrypt-saltrounds.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/database-service/database.service.ts
Due: install:server, lint:server, build:server, test:server

change how buttons are handled
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/chatbox/chatbox.component.ts
Due: install:client, lint:client, build:client, test:client

remove comment
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
Due: install:client, lint:client, build:client, test:client

move to interface
  packages/client/src/app/classes/chat/channel.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

refactor to channel menu
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
