Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

placement check fix 2 [ci-skip]
  packages/client/src/app/classes/board-navigator/board-navigator.ts
Due: install:client, lint:client, build:client, test:client

add value to board tiles [ci-skip]
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
Due: install:server, lint:server, build:server, test:server

typo [ci-skip]
  packages/common/models/puzzle.ts
Due: none

disable close [ci-skip]
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

keybind default dialog [ci-skip]
  packages/client/src/app/components/default-dialog/default-dialog.component.ts
  packages/client/src/app/components/default-dialog/default-dialog.component.types.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

more words in puzzle
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/constants/puzzle-constants.ts
Due: install:server, lint:server, build:server, test:server

end of game bug [ci-skip]
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
  packages/client/src/app/components/square/square.component.html
  packages/client/src/app/components/square/square.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

test fix [ci-skip]
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
Due: install:client, lint:client, build:client, test:client

make sure there are 7 tiles in tile rack [ci-skip]
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

Added opacity to opponent sqaures
  packages/client/src/app/classes/square/square-view.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/square/square.component.html
  packages/client/src/app/components/tile/tile.component.html
  packages/client/src/app/components/tile/tile.component.scss
  packages/client/src/app/components/tile/tile.component.ts
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/tile/tile.component.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/middlewares/validators/tile-placement.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

improve
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/server/app/middlewares/validators/tile-placement.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

THE theme
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/avatar-field.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/game-messages.service.dart
  packages/mobile/lib/services/theme-color-service.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

Update group.methods.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Update group-join.service.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Update game-password-pop-up.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Update create-game-form.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

Update group.dart
  packages/mobile/lib/classes/group.dart
Due: none

Fixed double channel open
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox-wrapper.dart
  packages/mobile/lib/components/chatbox.dart
Due: none

Fixed channel quit
  packages/mobile/lib/services/chat.service.dart
Due: none

Open channel on create
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

Fixed channel filtering
  packages/mobile/lib/components/chat-management.dart
Due: none

RS: Fix lint
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

Added unread messages to channel
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

remove comments
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.scss
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

Refactored notification pastille
  packages/mobile/lib/components/notification-pastille.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

Added read message
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

Refactor notification pastille
  packages/mobile/lib/components/notification-pastille.dart
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

Create join-group.constants.dart
  packages/mobile/lib/constants/join-group.constants.dart
Due: none

game started edge case
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Update join-group.constants.dart
  packages/mobile/lib/constants/join-group.constants.dart
Due: none

fix print comment
  packages/mobile/lib/services/group-join.service.dart
Due: none

fix lint
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
Due: install:client, lint:client, build:client, test:client

add error popup
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
  packages/client/src/app/constants/puzzle-constants.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

Update individual-group.dart
  packages/mobile/lib/components/group/individual-group.dart
Due: none

comments part 1
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.ts
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/player/players_container.dart
Due: install:client, lint:client, build:client, test:client

place is only on turn
  packages/client/src/app/services/round-manager-service/round-manager.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client
