Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Added createGame api call
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

fix tests
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.html
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/login-page/login-page.component.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.spec.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/services/user-validator/user-validator.service.spec.ts
  packages/client/src/app/services/user-validator/user-validator.service.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

test things (meme un peu plus que le minimum imagine toi donc)
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.spec.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/services/user-validator/user-validator.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Auto stash before merge of "develop" and "origin/develop"
  packages/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/mobile/pubspec.lock
Due: none

use directive for image
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/directives/src-directive/src.directive.spec.ts
  packages/client/src/app/directives/src-directive/src.directive.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pipes/srcset/srcset.pipe.ts
  packages/client/src/app/utils/image/image-size.ts
  packages/client/src/app/utils/image/resize-image.ts
  packages/client/src/app/utils/image/srcset.ts
  packages/client/src/app/utils/image/transformation.ts
Due: install:client, lint:client, build:client, test:client

RS: observer advancing
  packages/client/src/app/app.module.ts
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.scss
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.spec.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS:layercontainer change id
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Observe working with bugs
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Adding migrations missing for some reason
  packages/server/migrations/20230304171155_user-stats.js
  packages/server/migrations/20230306033044_server-actions.js
  packages/server/migrations/20230306171002_update-game-history.js
Due: install:server, lint:server, build:server, test:server

remove user-profile-stats component
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.html
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.scss
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.stories.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Update visual and small bugfixes
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.scss
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.scss
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.html
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.scss
  packages/common/models/game-visibility.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: End of game dialog for observer
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove leave message sent when redirected to observer game page
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

added PersonnalHttpClient
  packages/mobile/lib/locator.dart
Due: none

groupsUpdate is received by mobile
  packages/mobile/lib/constants/socket-events/group-events.dart
Due: none

mobile can see groups updating
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

RS: Test clients
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.spec.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Test server
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: Add event for end of game for obsrevers
  packages/client/src/app/constants/pages-constants.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Remove commented code
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

updatePlayerData
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/services/game.service.dart
Due: none

UpdateBoardData
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/services/game.service.dart
Due: none

updating round and isGameOver fields
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Added handleUpdate call in call gameService on UpG
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Updated gitingnore
  packages/mobile/macos/.gitignore
  packages/mobile/macos/Flutter/Flutter-Debug.xcconfig
  packages/mobile/macos/Flutter/Flutter-Release.xcconfig
Due: none

removed as Map<String, dynamic>
  packages/mobile/lib/classes/game/game-update.dart
Due: none

removed Map<String, dynamic>
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/player/player.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/classes/tile/square.dart
Due: none

updated gitignore
  packages/mobile/ios/.gitignore
  packages/mobile/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/mobile/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/mobile/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/mobile/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: none

changed file name to player-data.dart
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/classes/player/player-data.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/services/game.service.dart
Due: none

changed class name
  packages/mobile/lib/classes/message/message.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

add page
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/user.service.dart
  packages/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/mobile/pubspec.lock
Due: none

updateRoundData improved
  packages/mobile/lib/classes/game/game-message.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

removed observe functions
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

fix tests
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/client/src/app/components/chatbox/chatbox.component.spec.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/page-header/page-header.component.spec.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/home-page/home-page.component.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Fix timer
  packages/mobile/lib/components/game/game_timer.dart
Due: none

Added RackTile
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/game/game_square.dart
Due: none

refactor service
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

Added pass
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

Fix pass
  packages/mobile/lib/classes/actions/action-data.dart
Due: none
