Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Update pubspec.yaml
  packages/mobile/pubspec.yaml
Due: none

RS: Lobby logic working with basic visual on client LO
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/controllers/player-leave-controller/player-leave.controller.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.html
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/client/src/app/pages/lobby-page/lobby-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket-types.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

create board and tile rack
  packages/mobile/images/tile.png
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/board/direction.dart
  packages/mobile/lib/classes/board/navigator.dart
  packages/mobile/lib/classes/board/orientation.dart
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/tile/multiplier.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/classes/vector.dart
  packages/mobile/lib/components/game/game-board.dart
  packages/mobile/lib/components/game/game-square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/constants/game.constants.dart
  packages/mobile/lib/constants/layout.constants.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/theme-color-service.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

create player container
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Removed DatabaseUser and ServerUser interfaces
  packages/common/models/user.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

fixed everything
  packages/common/models/user.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-history/chat-history.service.spec.ts
Due: install:server, lint:server, build:server, test:server

last view changes mr
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/parameters.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

error snack bar
  packages/mobile/lib/components/error-pop-up.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/pubspec.yaml
Due: none

reopen fix
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

last changes view
  packages/mobile/lib/components/group-management.dart
  packages/mobile/lib/components/parameters.dart
  packages/mobile/lib/components/player-waiting-list.dart
  packages/mobile/lib/components/waiting-room.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
  packages/mobile/pubspec.yaml
Due: none

change player container
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/components/player/main_player.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game.service.dart
Due: none

enlever placeholders
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

Added handleChannelHistory funtion to ChatService
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

Changed timeFormat
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

shortTime for tooltip
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
Due: install:client, lint:client, build:client, test:client

Added maxlength
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
Due: install:client, lint:client, build:client, test:client

just a lint
  packages/client/src/app/constants/chat-constants.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

rs change info
  packages/client/src/app/components/information-box/information-box.component.html
  packages/client/src/app/components/information-box/information-box.component.scss
  packages/client/src/app/components/information-box/information-box.component.ts
  packages/client/src/app/components/joiner-list-container/joiner-list-container.component.stories.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Create user-session.service.dart
  packages/mobile/lib/services/user-session.service.dart
Due: none

Update account-authentification-controller.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

Update authentification-service.dart
  packages/mobile/lib/services/authentification-service.dart
Due: none

Update create-account-form.dart
  packages/mobile/lib/components/create-account-form.dart
Due: none

Update login-form.dart
  packages/mobile/lib/components/login-form.dart
Due: none

rename
  packages/mobile/test/components/create-account-form_test.dart
  packages/mobile/test/components/create-account-form_test.mocks.dart
Due: none

Work on group joining
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/constants/socket-events.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/pubspec.lock
Due: none

finish page
  packages/mobile/lib/classes/board/direction.dart
  packages/mobile/lib/classes/board/orientation.dart
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/game/game_messages.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/classes/vector.dart
  packages/mobile/lib/components/animation/pulse.dart
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_info.dart
  packages/mobile/lib/components/game/game_messages.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/components/player/main_player.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/components/timer.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/utils/duration.dart
  packages/mobile/lib/utils/game_messages.dart
Due: none

Shit be working
  packages/mobile/lib/classes/game-visibility.dart
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/classes/virtual-player-level.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/group-selection.dart
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/components/no-group-entry.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/services/socket.service.dart
  packages/mobile/lib/utils/duration-format.dart
  packages/mobile/lib/view-methods/group.methods.dart
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Used users in group
  packages/mobile/lib/classes/virtual-player-level.dart
  packages/mobile/lib/components/individual-group.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

remove old icons
  packages/client/src/app/components/information-box/information-box.component.html
Due: install:client, lint:client, build:client, test:client

Merge branch 'chore/151-validate-http-requests' into 'develop'
  packages/server/app/app.ts
  packages/server/app/controllers/base-controller.ts
  packages/server/app/controllers/dictionary-controller/dictionary.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/server/app/controllers/virtual-player-profile-controller/virtual-player-profile.controller.spec.ts
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/utils/is-id-virtual-player/is-id-virtual-player.ts
Due: install:server, lint:server, build:server, test:server

RS: Change socketId to use token instead client LO and server
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/controllers/high-score-controller/high-score.controller.ts
  packages/client/src/app/controllers/player-leave-controller/player-leave.controller.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/action-service/action.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/input-parser-service/input-parser.service.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/controllers/high-score-controller/high-score.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Add linux files and pubspec to gitingore
  packages/mobile/.gitignore
Due: none

const
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/classes/tile/multiplier.dart
  packages/mobile/lib/components/game/game_messages.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

remove comments
  packages/mobile/lib/components/game/game_messages.dart
Due: none

remove comment
  packages/mobile/lib/components/game/game_square.dart
Due: none

const
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/constants/assets.constants.dart
Due: none

Added channel:publicChannels event on socket init
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added handleDelete feature
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Revert "Added handleDelete feature"
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Revert "Added channel:publicChannels event on socket init"
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server
