Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

aq comment name of var
  packages/mobile/lib/classes/login.dart
Due: none

update bool condition
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

constant add
  packages/mobile/lib/constants/login-constants.dart
Due: none

Update home-page.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

removed unusued getstoragetoken
  packages/mobile/lib/services/user-session.service.dart
Due: none

Update user.service.dart
  packages/mobile/lib/services/user.service.dart
Due: none

remove back arrow login page
  packages/mobile/lib/main.dart
Due: none

Added decrement to timer
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/components/timer.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Added timeout cancelling
  .gitignore
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/round-service.dart
  packages/mobile/pubspec.yaml
Due: none

RS: Comment out controlelr that had errors
  packages/server/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/server/app/controllers/high-score-controller/high-score.controller.ts
  packages/server/app/routes/routes.module.ts
Due: install:server, lint:server, build:server, test:server

RS; Comment out another controller unused
  packages/server/app/controllers/index.ts
  packages/server/app/services/service-testing-unit/services-testing-unit.spec.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.spec.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Add and adjust server tests
  packages/server/app/classes/actions/action-exchange/action-exchange.spec.ts
  packages/server/app/classes/actions/action-help/action-help.spec.ts
  packages/server/app/classes/actions/action-hint/action-hint.spec.ts
  packages/server/app/classes/actions/action-pass/action-pass.spec.ts
  packages/server/app/classes/actions/action-place/action-place.spec.ts
  packages/server/app/classes/actions/action-reserve/action-reserve.spec.ts
  packages/server/app/classes/actions/action-utils/action-utils.spec.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/classes/player/player.spec.ts
  packages/server/app/classes/round/round-manager.spec.ts
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.spec.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.spec.ts
  packages/server/app/classes/word-finding/board-placement-extractor/board-placement-extractor.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/high-score-service/high-score.service.spec.ts
  packages/server/app/services/objective-service/objective.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Removed duplicate imports
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

Moved files & fixed spacing
  packages/mobile/lib/components/group/group-management.dart
  packages/mobile/lib/components/group/group-selection.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/parameters.dart
  packages/mobile/lib/components/group/player-waiting-list.dart
  packages/mobile/lib/components/group/waiting-room.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/group-waiting-page.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
Due: none

checkpoint working state
  packages/common/events/chat.event.ts
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Update account.dart
  packages/mobile/lib/classes/account.dart
Due: none

fix validate
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

Fixed timer bug
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Changed groups event handling
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Lowered Karma tests coverage requirements
  packages/client/karma.conf.js
Due: install:client, lint:client, build:client, test:client

comments
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

créer un canal button
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

search function
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/create-lobby.dart
Due: none

persistance
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

joined vs not joined channel gestion
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

refactor checkpoint
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

search fix
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

error fix
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

RS: Add tests client side
  packages/client/src/app/classes/game-history/game-histories-converter.spec.ts
  packages/client/src/app/classes/player/player-container.spec.ts
  packages/client/src/app/classes/player/player.spec.ts
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/communication-box/communication-box.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/information-box/information-box.component.spec.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/components/timer-selection/timer-selection.component.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/high-score-controller/high-score.controller.spec.ts
  packages/client/src/app/controllers/player-leave-controller/player-leave.controller.spec.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/pages/group-page/group-page.component.spec.ts
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.spec.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.spec.ts
  packages/client/src/app/services/action-service/action.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
  packages/client/src/app/services/input-parser-service/input-parser.service.spec.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.spec.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.spec.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove unused page
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/convert-dialog/convert-dialog.component.html
  packages/client/src/app/components/convert-dialog/convert-dialog.component.scss
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.html
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.scss
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.ts
  packages/client/src/app/services/high-score-service/high-score.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Make nice visual for groups page
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.scss
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/pages/group-page/group-page.component.scss
Due: install:client, lint:client, build:client, test:client

RS: Make requesting players clean
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.html
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
Due: install:client, lint:client, build:client, test:client

RS: Fix forgotten things
  packages/client/src/app/components/communication-box/communication-box.component.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.html
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.scss
Due: install:client, lint:client, build:client, test:client

RS: More small fixes
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Remove old code
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:client, lint:client, build:client, test:client

socketService: getAllSockets
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

chatPersistance: getPublicChannels
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
Due: install:server, lint:server, build:server, test:server

ChatEvents: channel:delete, channel:publicChannels
  packages/common/events/chat.event.ts
Due: none

server ChatService: updatePublicChannels
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Added optionnal checkbox to dialog
  packages/client/src/app/components/default-dialog/default-dialog.component.html
  packages/client/src/app/components/default-dialog/default-dialog.component.ts
  packages/client/src/app/components/default-dialog/default-dialog.component.types.ts
Due: install:client, lint:client, build:client, test:client
