Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Changed hint behaviour and show points
  packages/server/app/classes/actions/action-hint/action-hint.ts
  packages/server/app/classes/word-finding/word-finding-hint/word-finding-hint.ts
  packages/server/app/constants/classes-constants.ts
Due: install:server, lint:server, build:server, test:server

Fixed problem but created an other one :/
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.ts
Due: install:server, lint:server, build:server, test:server

fix home page conflicts , removed prototype page
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

update user
  packages/common/models/user.ts
  packages/common/package.json
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-history/chat-history.service.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/services/user-service/user-service.ts
Due: install:server, lint:server, build:server, test:server

fix errors
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Update tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

user statistics
  packages/common/models/user-statistics.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
  packages/server/migrations/20230304171155_user-stats.js
Due: install:server, lint:server, build:server, test:server

testing things cuz i gotta do it
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/user-service/user-service.spec.ts
  packages/server/app/services/user-service/user-service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.spec.ts
Due: install:server, lint:server, build:server, test:server

[ci skip] YOU. SHALL. NOT. PASS.
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:server, lint:server, build:server, test:server

update layout
  packages/mobile/lib/components/create-account-form.dart
Due: none

change LO to image server
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/constants/avatar-constants.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pipes/srcset/srcset.pipe.spec.ts
  packages/client/src/app/pipes/srcset/srcset.pipe.ts
  packages/client/src/app/utils/image/image-size.ts
  packages/client/src/app/utils/image/resize-image.ts
  packages/client/src/app/utils/image/srcset.ts
Due: install:client, lint:client, build:client, test:client

remove images
  packages/client/src/assets/img/avatars/avatar-1.png
  packages/client/src/assets/img/avatars/avatar-10.png
  packages/client/src/assets/img/avatars/avatar-11.png
  packages/client/src/assets/img/avatars/avatar-12.png
  packages/client/src/assets/img/avatars/avatar-13.png
  packages/client/src/assets/img/avatars/avatar-14.png
  packages/client/src/assets/img/avatars/avatar-15.png
  packages/client/src/assets/img/avatars/avatar-16.png
  packages/client/src/assets/img/avatars/avatar-17.png
  packages/client/src/assets/img/avatars/avatar-2.png
  packages/client/src/assets/img/avatars/avatar-3.png
  packages/client/src/assets/img/avatars/avatar-4.png
  packages/client/src/assets/img/avatars/avatar-5.png
  packages/client/src/assets/img/avatars/avatar-6.png
  packages/client/src/assets/img/avatars/avatar-7.png
  packages/client/src/assets/img/avatars/avatar-8.png
  packages/client/src/assets/img/avatars/avatar-9.png
Due: install:client, lint:client, build:client, test:client

add avatar to signup
  packages/client/src/app/components/page-header/page-header.component.html
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/components/avatar-field.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/waiting-room.dart
  packages/mobile/lib/components/image.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/constants/avatars-constants.dart
  packages/mobile/lib/constants/user-constants.dart
Due: install:client, lint:client, build:client, test:client

user -> users
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.ts
Due: install:server, lint:server, build:server, test:server

undo the dumb shit i did
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:server, lint:server, build:server, test:server

PRE-CI-SION mucho importante
  packages/server/migrations/20230304171155_user-stats.js
Due: install:server, lint:server, build:server, test:server

precision part 2
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:server, lint:server, build:server, test:server

ça marche mon dude
  docker-compose.dev.yml
  packages/server/app/constants/game-constants.ts
  packages/server/app/constants/virtual-player-constants.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/migrations/20230304171155_user-stats.js
Due: install:server, lint:server, build:server, test:server

i hate myself for this
  packages/server/app/services/game-play-service/game-play.service.spec.ts
Due: install:server, lint:server, build:server, test:server

il est minuit esti, fonctionne
  packages/common/models/user.ts
  packages/common/package.json
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/types/user.ts
Due: install:server, lint:server, build:server, test:server

RS:Observer first start
  packages/common/models/observer.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/classes/player/player.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

Update game-play.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:server, lint:server, build:server, test:server

fix overflow
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/login-page.dart
Due: none

remove comments
  packages/mobile/lib/pages/login-page.dart
Due: none

Removed unusued widget
  packages/mobile/lib/pages/login-page.dart
Due: none

fix chat and some stuff here and there ╰（‵□′）╯
  packages/mobile/lib/classes/channel-message.dart
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/channel.service.dart
Due: none

functional chat w history
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
Due: none

on s'essaie
  packages/client/src/app/pipes/srcset/srcset.pipe.ts
Due: install:client, lint:client, build:client, test:client

fix plzzz
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/pages/home-page/home-page.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Added virtual player factory
  packages/server/app/classes/actions/action-hint/action-hint.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/virtual-player-factory-service/virtual-player-factory.service.spec.ts
  packages/server/app/services/virtual-player-factory-service/virtual-player-factory.service.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed gameplay service tests
  packages/server/app/services/game-play-service/game-play.service.spec.ts
Due: install:server, lint:server, build:server, test:server

add server actions
  packages/common/models/server-action.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/controllers/server-action-controller/server-action.controller.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/services/server-action-service/server-action.service.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/migrations/20230306033044_server-actions.js
Due: install:server, lint:server, build:server, test:server

Fixed tests
  packages/server/app/classes/word-finding/word-finding-hint/word-finding-hint.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Added coverage
  packages/server/app/factories/virtual-player-factory/virtual-player-factory.spec.ts
  packages/server/app/factories/virtual-player-factory/virtual-player-factory.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/virtual-player-factory-service/virtual-player-factory.service.spec.ts
Due: install:server, lint:server, build:server, test:server

testss
  packages/server/app/controllers/server-action-controller/server-action.controller.spec.ts
  packages/server/app/services/server-action-service/server-action.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix lint
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:server, lint:server, build:server, test:server

removed unused variable
  packages/server/app/constants/classes-constants.ts
Due: install:server, lint:server, build:server, test:server

fix lint + tests
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix lint
  packages/server/app/app.ts
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
