Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

fixed test
  packages/server/app/services/puzzle-service/puzzle.service.spec.ts
Due: install:server, lint:server, build:server, test:server

refactor
  packages/mobile/lib/constants/game-messages-constants.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

Changed default value to positive time
  packages/mobile/lib/constants/user-constants.dart
Due: none

moved username in ranking
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
Due: none

removed prints
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

fixe merge errors
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
Due: none

Fixed wildcard
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/wildcard-dialog.dart
Due: none

code session sunday
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Update game.service.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

fixed 500 problem
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added columns and rows to grid + markdown position
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

deleted package-lock
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Revert "deleted package-lock"
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Fix compile errors
  packages/mobile/lib/components/game/game_board.dart
Due: none

Fixed inversed board
  packages/mobile/lib/components/game/game_board.dart
Due: none

RS: Fix multiple things
  packages/client/src/app/components/game/game-timer/game-timer.component.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/sound-service/sound.service.ts
  packages/client/src/app/utils/settings/index.ts
  packages/client/src/assets/sound/LowTimeSound.mp3
Due: install:client, lint:client, build:client, test:client

RS: Fix end of game
  packages/server/app/classes/round/round-manager.ts
Due: install:server, lint:server, build:server, test:server

RS: Use same color in color theme
  packages/client/src/styles.scss
Due: install:client, lint:client, build:client, test:client

RS: fix de paresseux
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
Due: install:client, lint:client, build:client, test:client

virtual player toggle
  packages/mobile/lib/classes/virtual-player-level.dart
  packages/mobile/lib/components/create-game/create-game-level.dart
  packages/mobile/lib/components/create-game/virtual-player-level-widget.dart
Due: none

visibility toggle
  packages/mobile/lib/components/create-game/create-game-visibility.dart
  packages/mobile/lib/components/create-game/visibility-widget.dart
Due: none

create game form refac
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

file name changes
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/create-game/game-visibility-toggle.dart
  packages/mobile/lib/components/create-game/virtual-player-level-widget.dart
  packages/mobile/lib/components/create-game/virtual-player-toggle.dart
  packages/mobile/lib/components/create-game/visibility-widget.dart
Due: none

RS: Add border around own name in leaderboard
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.html
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.scss
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.ts
Due: install:client, lint:client, build:client, test:client

fix no error message for different passwords
  packages/mobile/lib/components/create-account-form.dart
Due: none

fixed visual bug
  packages/mobile/lib/services/game-messages.service.dart
Due: none

Adding remove tiles befor place
  packages/mobile/lib/services/game-messages.service.dart
Due: none

refactor
  packages/mobile/lib/services/game-messages.service.dart
Due: none

import
  packages/mobile/lib/services/game-messages.service.dart
Due: none

another import
  packages/mobile/lib/services/game-messages.service.dart
Due: none

add click sound music and settings
  packages/mobile/lib/classes/sound.dart
  packages/mobile/lib/components/app-toggle-button.dart
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/app-route-observer.dart
  packages/mobile/lib/services/sound-service.dart
Due: none

sound tile placement
  packages/mobile/lib/classes/board/board.dart
Due: none

end of game and game timer
  packages/mobile/lib/classes/sound.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

RS: Change from string to bool, handle disconnection correctly
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/sound-service/sound.service.ts
  packages/client/src/app/utils/settings/index.ts
Due: install:client, lint:client, build:client, test:client

update timer sound
  packages/mobile/assets/sounds/LowTimeSound.mp3
  packages/mobile/lib/components/game/game_timer.dart
Due: none

revert config
  packages/mobile/lib/environments/environnement-config.dart
Due: none

RS: Fix backspace en windows
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

RS: make it an app thingy
  packages/client/src/app/services/authentication-service/authentication.service.ts
Due: install:client, lint:client, build:client, test:client

code session monday
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/classes/virtual-player/abstract-virtual-player/abstract-virtual-player.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
