Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

fix path error
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

add only positive points
  packages/server/app/services/achievements-service/achievements-service.ts
Due: install:server, lint:server, build:server, test:server

version fix
  packages/mobile/android/app/build.gradle
  packages/mobile/pubspec.yaml
Due: none

debut fix firebase config
  packages/mobile/android/app/build.gradle
  packages/mobile/android/build.gradle
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
Due: none

Fix achievements after merge
  packages/mobile/lib/components/user-profile/user-profile-achievements.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

RS: Fix multiple bugs
  packages/client/src/app/classes/round/timer.ts
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.html
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.html
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.ts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
  packages/server/app/classes/round/round-manager.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Working notApplied tile
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack/abstract-tile-rack.dart
  packages/mobile/lib/constants/game-events.dart
Due: none

Remove tile placing on board when not turn
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/game/multiplayer-tile-rack.dart
  packages/mobile/lib/constants/game-events.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game-event.service.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/tile-synchronisation.service.dart
Due: none

receiving synced tiles work
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/square.dart
Due: none

Lowered opacity of square text when synced tile is on square
  packages/mobile/lib/components/game/game_square.dart
Due: none

fix merge problems
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/services/action-service.dart
Due: none

Sending synced tiles from léger
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/controllers/tile-synchronisation-controller.dart
  packages/mobile/lib/services/game-event.service.dart
  packages/mobile/lib/services/tile-synchronisation.service.dart
Due: none

Remove unused prints
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/controllers/tile-synchronisation-controller.dart
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Fixed placement stream
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/constants/game-events.dart
  packages/mobile/lib/services/game-event.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

removed print
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Fixed colored tile in analysis
  packages/mobile/lib/classes/actions/word-placement.dart
Due: none

Fixed puzzle cannot play
  packages/mobile/lib/components/game/game_board.dart
Due: none

Fixed play invalid word not remove from board
  packages/mobile/lib/constants/game.constants.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

Fix tile select for exchange
  packages/mobile/lib/classes/tile/tile-rack.dart
Due: none

Added daily puzzle dialog view
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
  packages/mobile/lib/components/puzzle/puzzle-type-selector.dart
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
  packages/mobile/lib/components/puzzle/start-practice-puzzle-dialog.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

Added controller and interfaces
  packages/mobile/lib/classes/puzzle/daily-puzzle.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
Due: none

Added service to handle daily puzzle
  packages/mobile/lib/classes/puzzle/daily-puzzle.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

GL3H23103-320: disable click and type for observer
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

GL3H23103-299: add X to multiplier
  packages/client/src/app/components/square/square.component.html
Due: install:client, lint:client, build:client, test:client

GL3H23103-275: disable pulsing on game end
  packages/client/src/app/components/game/game-players/game-players.component.html
  packages/client/src/app/components/game/game-players/game-players.component.ts
Due: install:client, lint:client, build:client, test:client

GL3H23103-318: disable place on game end
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

make game chat different
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox/chatbox.component.html
  packages/client/src/app/components/chatbox/chatbox.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.stories.ts
  packages/client/src/app/components/chatbox/chatbox.component.ts
Due: install:client, lint:client, build:client, test:client

fix leaderboard display on safari
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.html
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.scss
Due: install:client, lint:client, build:client, test:client

show tiles left
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
  packages/client/src/app/components/game/game-players/game-players.component.html
  packages/client/src/app/components/game/game-players/game-players.component.scss
  packages/client/src/app/components/game/game-players/game-players.component.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

firebase setup
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/google-services.json
  packages/mobile/android/build.gradle
  packages/mobile/lib/main.dart
  packages/mobile/pubspec.yaml
Due: none

lint
  packages/client/src/app/components/game/game-players/game-players.component.ts
Due: install:client, lint:client, build:client, test:client

visual changes leaderboard
  packages/mobile/lib/pages/leaderboard.dart
Due: none

number centering
  packages/mobile/lib/pages/leaderboard.dart
Due: none

homepage view
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

set multiplier as used
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
Due: install:server, lint:server, build:server, test:server

reduce word count
  packages/server/app/constants/puzzle-constants.ts
Due: install:server, lint:server, build:server, test:server

afix parsing to double error
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
Due: none

fix error to start game
  packages/mobile/lib/classes/game/player.dart
Due: none

parsage of rating info
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/player/player-data.dart
  packages/mobile/lib/constants/user-constants.dart
Due: none

end game rating change
  packages/mobile/lib/services/game.service.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
