Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Revert "removed as Map<String, dynamic>"
  packages/mobile/lib/classes/game/game-update.dart
Due: none

Revert "removed Map<String, dynamic>"
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/player/player-data.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/classes/tile/square.dart
Due: none

unkown_user
  packages/mobile/lib/classes/user.dart
Due: none

refactor GameService
  packages/mobile/lib/services/game.service.dart
Due: none

Removed rack tile
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

updatePlayerData refactor
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/services/game.service.dart
Due: none

PlayerUpdateData
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/player/player-data.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/classes/user.dart
Due: none

add user profile info
  packages/mobile/lib/components/avatar-field.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/waiting-room.dart
  packages/mobile/lib/components/image.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/components/user-avatar.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/constants/user-constants.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/profile-edit-page.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/user.service.dart
Due: none

improved updatePlayerData
  packages/mobile/lib/classes/game/player.dart
Due: none

imporoved gameUpdateData constructor
  packages/mobile/lib/classes/game/game-update.dart
Due: none

use const in routing
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
Due: install:client, lint:client, build:client, test:client

Server lint
  packages/server/app/classes/game/game.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

fix routes
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
Due: install:client, lint:client, build:client, test:client

Added selectable tile
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
Due: none

fixxx
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.stories.ts
  packages/client/src/app/services/cookie-service/cookie.service.spec.ts
Due: install:client, lint:client, build:client, test:client

edit user profile
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/constants/create-account-constants.dart
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/profile-edit-page.dart
  packages/mobile/lib/services/user.service.dart
Due: none

user stats
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/user.service.dart
Due: none

home page
  packages/mobile/images/board_background.png
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/constants/login-constants.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/pubspec.yaml
Due: none

Auto stash before merge of "feature/168-profile-page-le" and "develop"
  packages/mobile/lib/classes/game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/user.service.dart
  packages/mobile/pubspec.yaml
Due: none

Almost work
  packages/mobile/lib/classes/actions/action-exchange.dart
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/stream/game-stream.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/constants/game.constants.dart
  packages/mobile/lib/services/game.service.dart
Due: none

tileReserve improvement
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/game-update.dart
Due: none

removed logs
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

Added redirection
  packages/mobile/lib/pages/home-page.dart
Due: none

players-container
  packages/mobile/lib/classes/game/players-container.dart
Due: none

user profile history
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/table.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

server actions
  packages/mobile/lib/classes/server-action.dart
  packages/mobile/lib/components/user-profile/user-profile-server-actions.dart
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/user.service.dart
Due: none

add logout button
  packages/mobile/lib/components/user-profile/user-profile-info.dart
Due: none

remove autologin
  packages/mobile/lib/components/login-form.dart
Due: none

implement and test search
  packages/common/models/user.ts
  packages/server/app/constants/controllers-constants.ts
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/user-service/user-service.spec.ts
  packages/server/app/services/user-service/user-service.ts
Due: install:server, lint:server, build:server, test:server

test controller
  packages/server/app/controllers/user-controller/user-controller.spec.ts
Due: install:server, lint:server, build:server, test:server

Create create-game.constants.dart
  packages/mobile/lib/constants/create-game.constants.dart
Due: none

Create create-game.dart
  packages/mobile/lib/pages/create-game.dart
Due: none

add search user
  packages/client/src/app/app.module.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/controllers/abstract-controller.ts
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/search-page/search-page.component.html
  packages/client/src/app/pages/search-page/search-page.component.scss
  packages/client/src/app/pages/search-page/search-page.component.spec.ts
  packages/client/src/app/pages/search-page/search-page.component.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Waiting room changes
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/classes/game/waiting-room.ts
Due: install:server, lint:server, build:server, test:server

RS: Change visual from comments
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.scss
  packages/client/src/app/components/group-info/group-info.component.scss
Due: install:client, lint:client, build:client, test:client

RS: User groupRequest interface
  packages/client/src/app/classes/communication/group-request.ts
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/pages/groups-page/groups-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add checks to playerContainer for if observing
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

Attempt at stopping illegal redict to game
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.ts
Due: install:client, lint:client, build:client, test:client

routes + appbuttons usage
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/routes/routes.dart
Due: none

logo change
  packages/mobile/lib/constants/login-constants.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
