Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

RS: CHange has been abonned and end of game dialog redone
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/end-game-dialog/end-game-dialog.html
  packages/client/src/app/components/end-game-dialog/end-game-dialog.scss
  packages/client/src/app/components/end-game-dialog/end-game-dialog.spec.ts
  packages/client/src/app/components/end-game-dialog/end-game-dialog.ts
  packages/client/src/app/components/end-game-dialog/end-game-dialog.types.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/common/models/game-history.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

[ci skip]
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: run pipeline run
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

test [ci-skip]
  test.txt
Due: none

run
  test.txt
Due: none

test
  test.txt
Due: none

RS: Making rating leaderboard blean
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.html
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.scss
  packages/client/src/app/pages/rating-leaderboard-page/rating-leaderboard-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Fix tests
  packages/client/src/app/components/end-game-dialog/end-game-dialog.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/locator-service/locator.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: clean end of game dialog
  packages/client/src/app/components/end-game-dialog/end-game-dialog.ts
Due: install:client, lint:client, build:client, test:client

RS: Chang eto hasAbandoned
  packages/client/src/app/constants/components-constants.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/mobile/lib/classes/game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.spec.ts
  packages/server/app/services/game-history-service/game-history.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added analysis overview
  packages/mobile/lib/classes/analysis/analysis-overview.dart
  packages/mobile/lib/components/AppCircularSpinner.dart
  packages/mobile/lib/components/analysis/analysis-carousel.dart
  packages/mobile/lib/components/analysis/analysis-overview-widget.dart
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
  packages/mobile/lib/components/analysis/single-analysis-overview.dart
  packages/mobile/lib/constants/analysis.dart
Due: none

Added carousel
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/pubspec.yaml
Due: none

RS: Elo fonctionne
  packages/client/src/app/services/game-service/game.service.ts
  packages/common/models/game-history.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/rating-service/rating.service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
  packages/server/migrations/20230329170857_add-elo-rating.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Finished analysis overview widget
  packages/mobile/lib/components/AppCircularSpinner.dart
  packages/mobile/lib/components/analysis/analysis-carousel.dart
  packages/mobile/lib/components/analysis/analysis-overview-widget.dart
Due: none

password handling change ; buttons to appbuttons
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Added generic AppToggleButton
  packages/mobile/lib/classes/analysis/action-shown.dart
  packages/mobile/lib/classes/puzzle/puzzle-level.dart
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
  packages/mobile/lib/components/analysis/single-analysis-overview.dart
  packages/mobile/lib/components/app-circular-spinner.dart
  packages/mobile/lib/components/app-toggle-button.dart
  packages/mobile/lib/components/puzzle/puzzle-level-selector.dart
  packages/mobile/lib/components/puzzle/puzzle-level-widget.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
Due: none

Added toggle button in analysis
  packages/mobile/lib/classes/analysis/action-shown.dart
  packages/mobile/lib/classes/puzzle/puzzle-level.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
  packages/mobile/lib/components/app-toggle-button.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
Due: none

Added analysis fetch
  packages/mobile/lib/components/LoadingDots.dart
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/constants/analysis.dart
  packages/mobile/lib/services/analysis-service.dart
Due: none

Fixed http call and response errors
  packages/mobile/lib/classes/actions/action-place.dart
  packages/mobile/lib/classes/analysis/analysis-request.dart
  packages/mobile/lib/classes/analysis/analysis.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/services/analysis-service.dart
Due: none

Started score of played placement
  packages/mobile/lib/components/analysis/analysis-overview-widget.dart
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
  packages/mobile/lib/controllers/analysis-controller.dart
Due: none

fix isFormValid
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

uniformisation
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
  packages/mobile/lib/pages/groups-page.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

handle accents
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

test
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

clear cursor on round
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Finished point in critical moment
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
Due: none

fix tests
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
Due: install:client, lint:client, build:client, test:client

fix merge
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

gossage du board
  packages/mobile/lib/classes/analysis/analysis.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
Due: none

RS: fix some tests
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.spec.ts
Due: install:server, lint:server, build:server, test:server

[ci skip]
  packages/mobile/lib/components/create-account-form.dart
Due: none

RS: bug fixes to elo
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/rating-service/rating.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Fix changes with dev
  packages/client/src/app/components/end-game-dialog/end-game-dialog.html
  packages/client/src/app/components/end-game-dialog/end-game-dialog.ts
  packages/client/src/app/components/end-game-dialog/end-game-dialog.types.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Use the same end time everywhere for consistency
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Cleanup some code
  packages/client/src/app/classes/player/player.ts
  packages/client/src/app/components/end-game-dialog/end-game-dialog.ts
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/common/models/constants.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Fix more tests
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/app/services/rating-service/rating.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Add tests for rating
  packages/server/app/services/rating-service/rating.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Update game-observers-players.component.scss
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
Due: install:client, lint:client, build:client, test:client

Update game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
