Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

RS: Fix everything
  packages/client/src/styles.scss
Due: install:client, lint:client, build:client, test:client

RS: internet
  packages/client/src/app/services/color-theme-service/color-theme.service.ts
  packages/client/src/styles.scss
Due: install:client, lint:client, build:client, test:client

test pipeline
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.html
Due: install:client, lint:client, build:client, test:client

RS: Remove client tests
  .gitlab-ci.yml
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.spec.ts
  packages/client/src/app/services/color-theme-service/color-theme.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: remove old code
  packages/client/src/styles.scss
Due: install:client, lint:client, build:client, test:client

RS: remove unused things
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

Visual fixes
  packages/mobile/lib/components/game/post-game_actions.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
Due: none

Fix overflow
  packages/mobile/lib/components/analysis/analysis-request-dialog.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
Due: none

Fixed overflow brought errors
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
Due: none

Fixed remove tile error
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
  packages/mobile/lib/components/game/game_square.dart
Due: none

Fixed merge conflicts
  packages/mobile/lib/classes/game-history.dart
Due: none

Added interfaces
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
Due: none

Refactor carousel
  packages/mobile/lib/classes/http/ResponseResult.dart
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/lib/components/carousel/full-screen-carousel-dialog.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/services/analysis-service.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Added puzzle overview
  packages/mobile/lib/classes/puzzle/puzzle-level.dart
  packages/mobile/lib/classes/puzzle/puzzle-overview.dart
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/components/puzzle/puzzle-overview.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-solution.dart
Due: none

Started puzzle result dialog
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-solution.dart
Due: none

Linked with end of puzzle
  packages/mobile/lib/classes/puzzle/puzzle-config.dart
  packages/mobile/lib/classes/puzzle/puzzle-player.dart
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fixed parse errors
  packages/mobile/lib/classes/actions/action-place.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Added buttons to puzzle result dialog
  packages/mobile/lib/components/analysis/analysis-result-dialog.dart
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/carousel/full-screen-carousel-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fixed next puzzle button
  packages/mobile/lib/components/carousel/full-screen-carousel-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-overview.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
Due: none

Update game.service.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

Update game-play.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Update game-play.controller.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
Due: install:client, lint:client, build:client, test:client

Update icon.component.type.ts
  packages/client/src/app/components/icon/icon.component.type.ts
Due: install:client, lint:client, build:client, test:client

puzzle daily
  packages/server/app/classes/puzzle/daily-puzzle-generator/daily-puzzle-generator.spec.ts
  packages/server/app/classes/puzzle/daily-puzzle-generator/daily-puzzle-generator.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/puzzle/puzzle.ts
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.ts
  packages/server/app/classes/word-finding/board-placement-extractor/board-placement-extractor.ts
  packages/server/app/classes/word-finding/dictionary-searcher/dictionary-searcher-random.ts
  packages/server/app/constants/puzzle-constants.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
  packages/server/app/services/puzzle-service/puzzle.service.spec.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
  packages/server/app/utils/random/random.ts
  packages/server/migrations/20230403231517_daily-puzzle.js
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

Fixed player score update
  packages/mobile/lib/components/player/puzzle-player.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

create puzzle home page
  packages/client/src/app/app.module.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/home-page/home-page.component.ts
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.html
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.scss
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.spec.ts
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.ts
Due: install:client, lint:client, build:client, test:client

add leaderboard endpoint
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
Due: install:server, lint:server, build:server, test:server

test
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: mr changes according to comments
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.html
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.scss
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

fix mr comments
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/pages/profile-search-page.dart
Due: none

color change
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

[ci skip]
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

RS: add missing VP defualt arguments
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.ts
Due: install:server, lint:server, build:server, test:server

RS: Enlever icone
  packages/client/src/app/components/color-theme-dialog/color-theme-dialog.html
Due: install:client, lint:client, build:client, test:client

add data to puzzle home page and update puzzle page
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.html
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.scss
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.ts
  packages/client/src/app/constants/puzzle-constants.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/controllers/puzzle-controller/puzzle.controller.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.html
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.scss
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.ts
  packages/common/models/puzzle.ts
  packages/server/app/classes/puzzle/puzzle.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

type [ci-skip]
  packages/server/app/constants/puzzle-constants.ts
Due: install:server, lint:server, build:server, test:server

RS; enelver pipe
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/pages/home-page/home-page.component.ts
Due: install:client, lint:client, build:client, test:client

handle profile view back
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
Due: install:client, lint:client, build:client, test:client

oups
  packages/client/src/app/services/initializer-service/initializer.service.ts
Due: install:client, lint:client, build:client, test:client
