Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

RS: Add dialog to enter password
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.html
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.scss
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.types.ts
Due: install:client, lint:client, build:client, test:client

RS: Add more groups password
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Add server logic for game visibility
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fix bug signout
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

removed unusued break
  packages/mobile/lib/main.dart
Due: none

Update socket.service.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

fix invalid credentials ui bug
  packages/mobile/lib/services/user-session.service.dart
Due: none

RS: Adjust to comments
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fixed on delete Bug
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

removed failling test
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

tests
  packages/server/app/services/chat-history/chat-history.service.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: Add imports
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

[ci skip]
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fixed back button edge case
  packages/mobile/lib/pages/home-page.dart
Due: none

RS: Try to resolve test
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

run PIPELINE
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: More trying to fix the test
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

fix validateEmail and validateUsername bug
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

RS: More tries pls work
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

validate placements
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/board/navigator.dart
  packages/mobile/lib/classes/board/orientation.dart
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/vector.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/constants/game-events.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/game-event.service.dart
  packages/mobile/lib/services/game-state.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

idée: ne pas commit quelque chose qui compile pas
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

style
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

bad bad bad
  packages/mobile/lib/services/game.service.dart
Due: none

comment out logs
  packages/mobile/lib/services/game-event.service.dart
Due: none

po utile
  packages/mobile/lib/services/game-event.service.dart
Due: none

RS; ahhh shit here we go again
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.types.ts
Due: install:client, lint:client, build:client, test:client

RS: idk dude
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
Due: install:client, lint:client, build:client, test:client

Update login-constants.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

added fancy signOut confirmation popup , back button bug fixed
  packages/mobile/lib/pages/home-page.dart
Due: none

rs: change order?
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.ts
Due: install:client, lint:client, build:client, test:client

fixed unique email and unique username bug
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

does it work? No. Is it close to? uh
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/board/orientation.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/services/game.service.dart
Due: none

add wildcard dialog
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/components/tile/wildcard-dialog.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

move to own file
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/classes/actions/action-place.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/main.dart
Due: none

oh la boulette
  packages/mobile/lib/main.dart
Due: none

constssssssss
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

fix
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

Update user-session.service.dart
  packages/mobile/lib/services/user-session.service.dart
Due: none

added user initialization
  packages/mobile/lib/services/user.service.dart
Due: none

home->main
  packages/mobile/lib/main.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
