Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Client ChatService: publicChannels
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

ChatboxWrapper: join, delete & publicChannels
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Component : ChatBox-Container implemented
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

Client Fixed failing test
  packages/client/src/app/services/chat-service/chat.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Client: Lint
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Changed name validation rule and tooltip
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/constants/name-validation.ts
Due: install:client, lint:client, build:client, test:client

checkbox added
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Use correct convert to group
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/utils/convert-to-group/convert-to-group.ts
Due: install:server, lint:server, build:server, test:server

Fixed validation discrepencies and removed tests
  packages/client/src/app/components/name-field/name-field.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/constants/name-validation.ts
Due: install:client, lint:client, build:client, test:client

Added action data classes
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/constants/erros/action-errors.dart
  packages/mobile/lib/services/action-service.dart
Due: none

RS: create waiting page cleaned up
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.scss
Due: install:client, lint:client, build:client, test:client

RS: Make join waiting page clean
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.scss
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.html
Due: install:client, lint:client, build:client, test:client

Added gameplay controller
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/controllers/gameplay-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/action-service.dart
  packages/mobile/pubspec.lock
Due: none

Updated action payload
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/services/action-service.dart
Due: none

Fixed endpoint
  packages/mobile/lib/controllers/group-join-controller.dart
Due: none

Added buttons configuration to dialog box
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/controllers/gameplay-controller.dart
  packages/mobile/lib/services/action-service.dart
Due: none

RS: Remove old interfaces
  packages/client/src/app/classes/communication/game-info.ts
  packages/client/src/app/classes/communication/game-objectives-data.ts
  packages/client/src/app/classes/communication/objective-data.ts
  packages/client/src/app/classes/communication/player-name.ts
  packages/server/app/classes/communication/player-name.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Comment old component
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/objective/objective.component.html
  packages/client/src/app/components/objective/objective.component.scss
  packages/client/src/app/components/objective/objective.component.spec.ts
  packages/client/src/app/components/objective/objective.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Minor fixes
  packages/client/src/app/classes/communication/game-update-data.ts
  packages/client/src/app/classes/communication/index.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.types.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Use app button in dialog box
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Added dialog box to surrender
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/constants/locale/game-constants.dart
Due: none

Added padding to buttons
  packages/mobile/lib/components/alert-dialog.dart
Due: none

Removed padding on alert
  packages/mobile/lib/components/alert-dialog.dart
Due: none

RS: Fix tests and use constant for routes
  packages/client/src/app/components/convert-dialog/convert-dialog.component.spec.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.ts
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.ts
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.spec.ts
  packages/client/src/app/constants/game-mode.ts
  packages/client/src/app/constants/game-type.ts
  packages/client/src/app/constants/name-field.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.spec.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.html
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/pages/group-page/group-page.component.html
  packages/client/src/app/pages/group-page/group-page.component.spec.ts
  packages/client/src/app/pages/group-page/group-page.component.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pages/home-page/home-page.component.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.spec.ts
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

migrate to service and controller
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/constants/endpoint.constants.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/chat-management.service.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

comments p1
  packages/common/events/chat.event.ts
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/main.dart
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

shift to StreamBuilder
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

removed server changes
  packages/common/events/chat.event.ts
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

make game behaviorsubject
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/services/game.service.dart
Due: none

RS: Fix linting
  packages/client/src/app/components/admin-game-history/admin-game-history.component.ts
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.spec.ts
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
  packages/server/app/services/virtual-player-profile-service/virtual-player-profile.service.ts
  packages/server/app/utils/validate-name/validate-name.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

add game state and events
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/constants/game-events.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game-event.service.dart
  packages/mobile/lib/services/game-state.service.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/linux/flutter/generated_plugin_registrant.cc
  packages/mobile/linux/flutter/generated_plugin_registrant.h
  packages/mobile/linux/flutter/generated_plugins.cmake
  packages/mobile/pubspec.lock
Due: none

implement rack tile shuffle
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack.dart
Due: none

init variables in service/controller
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/services/chat-management.service.dart
  packages/mobile/lib/view-methods/chat-management-methods.dart
Due: none

Added channel:initDone event
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Canaux "Pulics"
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
Due: install:client, lint:client, build:client, test:client

Added chatboxWrapper tests
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Fixed constants
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

refactor html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
Due: install:client, lint:client, build:client, test:client

removed unused event
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

Fix mr comments
  packages/mobile/lib/classes/actions/action-data.dart
  packages/mobile/lib/services/action-service.dart
Due: none
