Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Inittial create game feature
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/game-creation-service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

fixed disconnect/connect channels and cleanup
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/constants/socket-events/chat-events.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/channel.service.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

channel name
  packages/mobile/lib/components/chatbox.dart
Due: none

update game history for user
  packages/client/src/app/classes/admin/admin-game-history.ts
  packages/common/models/game-history.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/player/player.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/migrations/20230306171002_update-game-history.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

testss
  packages/common/models/game-history.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/constants/test/user.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/services/game-history-service/game-history.service.spec.ts
  packages/server/migrations/20230306171002_update-game-history.js
Due: install:server, lint:server, build:server, test:server

Started
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/rounds/round.dart
  packages/mobile/lib/components/player/main_player.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/constants/locale/groups-constants.dart
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/game-creation-service.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

add unique
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
Due: install:server, lint:server, build:server, test:server

Added GameCreationController to locator.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

/ios f added. Compiles both android and ios now
  packages/mobile/ios/Flutter/Debug.xcconfig
  packages/mobile/ios/Flutter/Release.xcconfig
  packages/mobile/ios/Podfile
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/Runner.xcodeproj/project.pbxproj
  packages/mobile/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/mobile/pubspec.lock
Due: none

RS: avancer observateur
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/common/models/group.ts
  packages/common/models/requesting-users.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket-types.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added classes from interfaces
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/message/message.dart
  packages/mobile/lib/classes/player/player.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/classes/tile/tile-reserve.dart
Due: none

RS: Add first draft of logic on client
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.ts
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.html
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.types.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.html
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/pages/groups-page/groups-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added fromJson constructor
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/message/message.dart
  packages/mobile/lib/classes/player/player.dart
  packages/mobile/lib/classes/tile/tile.dart
Due: none

no comments
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

fromJson
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/rounds/round-data.dart
  packages/mobile/lib/classes/tile/multiplier.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-reserve.dart
Due: none

Interface changes
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/constants/erros/game-errors.dart
  packages/mobile/lib/services/game.service.dart
Due: none

test and doc aggregate
  packages/server/app/utils/aggregate/aggregate.spec.ts
  packages/server/app/utils/aggregate/aggregate.ts
Due: install:server, lint:server, build:server, test:server

fix client
  packages/client/src/app/classes/communication/game-histories.ts
  packages/client/src/app/classes/game-history/game-histories-converter.spec.ts
  packages/client/src/app/classes/game-history/game-histories-converter.ts
  packages/client/src/app/controllers/game-history-controller/game-history.controller.ts
  packages/client/src/app/services/game-history-service/game-history.service.spec.ts
  packages/client/src/app/services/game-history-service/game-history.service.ts
Due: install:client, lint:client, build:client, test:client

add package
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

interceptor
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/authentification-interceptor.dart
  packages/mobile/lib/services/client.dart
  packages/mobile/pubspec.yaml
Due: none

Work on start game
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/rounds/round.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/constants/game.constants.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/view-methods/group.methods.dart
  packages/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Start game should work
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/constants/erros/game-errors.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
  packages/mobile/lib/utils/round-utils.dart
Due: none

Update active player
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Start game event is listened
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

create base components for profile page
  docker-compose.dev.yml
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.html
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.scss
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.stories.ts
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.ts
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.html
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.scss
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.stories.ts
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.html
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.scss
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.stories.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.ts
Due: install:client, lint:client, build:client, test:client

add nav
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pages/home-page/home-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:client, lint:client, build:client, test:client

Finished start game
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/game.service.dart
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

Made locator more robust
  packages/mobile/lib/locator.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Added what I have on GamePlayController
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/controllers/gameplay-controller.dart
  packages/mobile/lib/locator.dart
Due: none

removed auto open
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/services/chat-management.service.dart
Due: none

Added tile reserve data to game
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/services/game.service.dart
Due: none

fixed imports
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/player-leave-service.dart
Due: none

dynamic tile count
  packages/mobile/lib/pages/game-page.dart
Due: none

added isover
  packages/mobile/lib/classes/game/game.dart
Due: none

create profile page
  packages/client/src/app/components/user-profile/user-profile-info/user-profile-info.component.scss
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.scss
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.ts
  packages/client/src/app/components/user-profile/user-profile-stats/user-profile-stats.component.scss
  packages/client/src/app/controllers/abstract-controller.ts
  packages/client/src/app/controllers/user-controller/user.controller.spec.ts
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/services/user-service/user.service.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/server-action-service/server-action.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fixed fromJson issues
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/pages/game-page.dart
Due: none

Started exchange
  packages/mobile/lib/classes/actions/action-exchange.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/services/game.service.dart
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

usage of interceptor for all http controllers
  packages/mobile/lib/controllers/database.controller.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/gameplay-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/authentification-interceptor.dart
Due: none

add edit user modal
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.html
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.scss
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.spec.ts
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.ts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

Added GamePlayController endpoints
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none
