Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

verification
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

MR preparation
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

change subject to observable
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

move string to const and translate it
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

use default dialog
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

handle error
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

simplify not receive own messages
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

return types
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
Due: install:client, lint:client, build:client, test:client

return type
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

fix client test
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox/chatbox.component.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

fix tests server
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

remove ability to quit general channel
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/common/models/chat/channel.ts
  packages/server/app/constants/chat.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

removed unsed file
  packages/server/app/middlewares/authentificate-token.ts
Due: install:server, lint:server, build:server, test:server

add time to messages
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
  packages/client/src/app/constants/time-constant.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/common/models/chat/chat-message.ts
Due: install:client, lint:client, build:client, test:client

add quit button in channel menu
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

limit number of open chat
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

change relative time
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
Due: install:client, lint:client, build:client, test:client

fix storybook
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
  packages/client/src/app/components/chatbox-message/chatbox-message.component.stories.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.ts
Due: install:client, lint:client, build:client, test:client

make button not focusable
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
Due: install:client, lint:client, build:client, test:client

remove focus overlay
  packages/client/src/app/components/chatbox-container/chatbox-container.component.scss
Due: install:client, lint:client, build:client, test:client

Added signup page
  packages/client/src/app/app.module.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pages/signin-page/signup-page.component.html
  packages/client/src/app/pages/signin-page/signup-page.component.scss
  packages/client/src/app/pages/signin-page/signup-page.component.spec.ts
  packages/client/src/app/pages/signin-page/signup-page.component.ts
Due: install:client, lint:client, build:client, test:client

fixed .catch response
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
Due: install:server, lint:server, build:server, test:server

Moved db access functions
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/database-service/database.service.ts
Due: install:server, lint:server, build:server, test:server

fix: change group to message date
  packages/client/src/app/components/chatbox-message/chatbox-message.component.html
Due: install:client, lint:client, build:client, test:client

Added wrapper and container for signup
  packages/client/documentation.json
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.stories.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/signin-page/signup-page.component.html
  packages/client/src/app/pages/signup-page/signup-page.component.html
  packages/client/src/app/pages/signup-page/signup-page.component.scss
  packages/client/src/app/pages/signup-page/signup-page.component.spec.ts
  packages/client/src/app/pages/signup-page/signup-page.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.html
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.scss
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
  packages/common/models/user.ts
Due: install:client, lint:client, build:client, test:client

refactor
  packages/client/documentation.json
  packages/common/models/user.ts
  packages/server/app/classes/user/user.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Setup story
  packages/client/documentation.json
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.stories.ts
Due: install:client, lint:client, build:client, test:client

test fix
  packages/server/app/classes/user/token-data.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

electron setup
  packages/client/main.js
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/index.html
Due: install:client, lint:client, build:client, test:client

login classes
  packages/mobile/lib/classes/login.dart
Due: none

added login endpoint in controller
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

create settings service
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/app/modules/settings.module.ts
  packages/client/src/app/services/settings-service/settings.service.spec.ts
  packages/client/src/app/services/settings-service/settings.service.ts
Due: install:client, lint:client, build:client, test:client

add default value for settings
  packages/client/src/app/modules/settings.module.ts
  packages/client/src/app/services/settings-service/settings.service.ts
Due: install:client, lint:client, build:client, test:client

login form v1
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

login method in auth service
  packages/mobile/lib/services/account-authentification-service.dart
Due: none

login page v1
  packages/mobile/lib/pages/login-page.dart
Due: none

Trying to fix tests
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
Due: install:server, lint:server, build:server, test:server

replace old localstorage use
  packages/client/src/app/constants/session-storage-constants.ts
  packages/client/src/app/modules/settings.module.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/pages/lobby-page/lobby-page.component.ts
  packages/client/src/app/services/settings-service/settings.service.ts
Due: install:client, lint:client, build:client, test:client

Added authentificate Token middleware
  packages/server/app/middlewares/authentificate-token.ts
Due: install:server, lint:server, build:server, test:server
