Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

adjust ui, added title for observer buttons
  packages/mobile/lib/components/game/game_actions.dart
Due: none

remove unusued game creation controller
  packages/mobile/lib/components/game/game_actions.dart
Due: none

update user avatar and username on user edit
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

set user in leaderboard to 10
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:server, lint:server, build:server, test:server

remove console
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

fix groups not canceled
  packages/mobile/lib/components/group/group-management.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

fix label condition
  packages/mobile/lib/components/game/game_actions.dart
Due: none

dead code
  packages/mobile/lib/view-methods/group.methods.dart
Due: none

Update ui
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/post-game_actions.dart
Due: none

fixed lateinitializion exception
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/services/game-observer-service.dart
Due: none

fix tiles last game
  packages/mobile/lib/services/game-observer-service.dart
Due: none

fix no tiles first turn
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/services/game-observer-service.dart
Due: none

login email trim
  packages/mobile/lib/components/login-form.dart
Due: none

trim create account
  packages/mobile/lib/components/create-account-form.dart
Due: none

email regex
  packages/mobile/lib/constants/create-account-constants.dart
Due: none

always obs first player
  packages/mobile/lib/services/game.service.dart
Due: none

newline winners
  packages/mobile/lib/constants/locale/game-constants.dart
Due: none

no analysis button for obs
  packages/mobile/lib/services/game.service.dart
Due: none

gold observer
  packages/mobile/lib/components/player/player.dart
Due: none

fix timer puzzle
  packages/mobile/lib/services/game.service.dart
Due: none

stop button spam
  packages/mobile/lib/components/create-game/create-game-form.dart
Due: none

i did the thing
  packages/client/src/app/components/communication-box/communication-box.component.html
  packages/client/src/app/components/communication-box/communication-box.component.ts
  packages/client/src/app/services/input-parser-service/input-parser.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

lint méchant
  packages/client/src/app/components/communication-box/communication-box.component.ts
Due: install:client, lint:client, build:client, test:client

Added popup
  packages/mobile/lib/components/game/game_actions.dart
Due: none

do not send placement preview to opponents
  packages/client/src/app/components/communication-box/communication-box.component.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Dont display on hover when not your turn
  packages/client/src/app/components/communication-box/communication-box.component.ts
Due: install:client, lint:client, build:client, test:client

fix buttons
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
Due: install:client, lint:client, build:client, test:client

Added windows icon
  packages/client/resources/icon.ico
Due: install:client, lint:client, build:client, test:client

no green tile on half opacity
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

fix observer name overflow
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
Due: install:client, lint:client, build:client, test:client

removed useless button
  packages/mobile/lib/components/game/game_actions.dart
Due: none

change button to play
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
Due: install:client, lint:client, build:client, test:client

bruh
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
Due: none

ignore .exe
  .gitignore
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
