Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

Added solutions widgets
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/components/carousel/full-screen-carousel-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-solution.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

fix
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.scss
Due: install:client, lint:client, build:client, test:client

RS:ehehhe
  packages/client/src/app/components/admin-dictionaries-component/admin-dictionaries.component.scss
  packages/client/src/app/components/admin-game-history/admin-game-history.component.scss
  packages/client/src/app/components/admin-high-scores/admin-high-scores.component.scss
  packages/client/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  packages/client/src/app/components/analysis/analysis-overview/analysis-overview.component.scss
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.scss
  packages/client/src/app/components/analysis/analysis-waiting-dialog/analysis-waiting-dialog.scss
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/communication-box/communication-box-text.component.scss
  packages/client/src/app/components/convert-dialog/convert-dialog.component.scss
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.scss
  packages/client/src/app/components/delete-dictionary-dialog/delete-dictionary-dialog.component.scss
  packages/client/src/app/components/delete-virtual-player-dialog/delete-virtual-player-dialog.component.scss
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.scss
  packages/client/src/app/components/game/game-players/game-players.component.scss
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.scss
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.scss
  packages/client/src/app/components/header-btn/header-btn.component.scss
  packages/client/src/app/components/modify-dictionary-dialog/modify-dictionary-dialog.component.scss
  packages/client/src/app/components/objective/objective.component.scss
  packages/client/src/app/components/page-header/page-header.component.scss
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.scss
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.scss
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.scss
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.scss
  packages/client/src/app/components/requesting-user-container/requesting-user-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.scss
  packages/client/src/app/components/update-virtual-player-dialog/update-virtual-player-dialog.component.scss
  packages/client/src/app/components/upload-dictionary/upload-dictionary.component.scss
  packages/client/src/app/components/user-profile/avatar-selector/avatar-selector.component.scss
  packages/client/src/app/modules/swiper/components/swiper-navigation/swiper-navigation.component.scss
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.scss
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.scss
  packages/client/src/app/pages/groups-page/groups-page.component.scss
  packages/client/src/app/pages/high-scores-page/high-scores-page.component.scss
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.scss
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.scss
  packages/client/src/app/services/color-theme-service/color-theme.service.ts
  packages/client/src/app/style/variables.scss
Due: install:client, lint:client, build:client, test:client

RS: hihi
  packages/server/app/constants/virtual-player-constants.ts
Due: install:server, lint:server, build:server, test:server

Added title to slide
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/components/puzzle/puzzle-solution.dart
Due: none

fix tests
  packages/server/app/services/puzzle-service/puzzle.service.spec.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

[ci skip]
  packages/mobile/lib/pages/profile-page.dart
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

fix [ci-skip]
  conf/nginx/prod.d/default.conf
Due: none

logs socket error [ci-skip]
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

log [ci-skip]
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

listen error first [ci-skip]
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

[ci-skip]
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

pas ci skip
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added placement to chat and stop timer
  packages/mobile/lib/classes/actions/word-placement.dart
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/services/puzzle-service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Fixed tile overwrite in answer
  packages/mobile/lib/classes/actions/word-placement.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Update observer-game-page.component.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

Update game-play.controller.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Update game-observers-players.component.ts
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.ts
Due: install:client, lint:client, build:client, test:client

Update game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
Due: install:client, lint:client, build:client, test:client

usage of enter key to login
  packages/mobile/lib/components/login-form.dart
Due: none

chat wrong context fix
  packages/mobile/lib/components/chatbox.dart
Due: none

tile * fix
  packages/mobile/lib/components/tile/tile.dart
Due: none

regex email fix
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/tile/tile.dart
Due: none

Fixed solution showing played placement
  packages/mobile/lib/classes/actions/word-placement.dart
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
Due: none

Added internet to manifest
  packages/mobile/android/app/src/main/AndroidManifest.xml
Due: none

mr comments resolved
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/components/tile/tile.dart
Due: none

clean up
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

charles fait des fautes
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.html
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Make sound work
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/page-header/page-header.component.html
  packages/client/src/app/components/page-header/page-header.component.ts
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.html
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.scss
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.spec.ts
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/services/sound-service/sound.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Add weird dependencies
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

RS: fix order in header
  packages/client/src/app/components/page-header/page-header.component.html
Due: install:client, lint:client, build:client, test:client

RS: Small visual fix
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.scss
Due: install:client, lint:client, build:client, test:client

Fixed board & font size
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/components/analysis/critical-moment-widget.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/puzzle/puzzle-solution.dart
  packages/mobile/lib/constants/carousel-constants.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

Fixed abandon
  packages/mobile/lib/classes/puzzle/puzzle-result.dart
  packages/mobile/lib/components/puzzle/puzzle_actions.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

add user statistics and get them
  packages/common/models/achievement.ts
  packages/common/models/user-statistics.ts
  packages/server/app/constants/achievement.ts
  packages/server/app/constants/time-const.ts
  packages/server/app/controllers/user-controller/user-controller.ts
  packages/server/app/services/achievements-service/achievements-service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
  packages/server/migrations/20230405002458_achievements.js
Due: install:server, lint:server, build:server, test:server

Fixed tile font size
  packages/mobile/lib/components/tile/tile.dart
Due: none
