Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

count bingo and max rating
  packages/server/app/classes/actions/action-place/action-place.ts
  packages/server/app/services/achievements-service/achievements-service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.ts
Due: install:server, lint:server, build:server, test:server

Fixed overflow in request waiting page
  packages/mobile/lib/pages/groups-request-waiting-page.dart
Due: none

Fix overflow
  packages/mobile/lib/components/group/individual-group.dart
Due: none

Fix camera bug on account creation
  packages/mobile/lib/services/upload.service.dart
Due: none

Modified profile page
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

tests
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/services/achievements-service/achievements-service.spec.ts
  packages/server/app/services/achievements-service/achievements-service.ts
  packages/server/app/services/user-statistics-service/user-statistics-service.spec.ts
Due: install:server, lint:server, build:server, test:server

test controller
  packages/server/app/controllers/user-controller/user-controller.spec.ts
Due: install:server, lint:server, build:server, test:server

add to controller
  packages/client/src/app/controllers/user-controller/user.controller.ts
  packages/client/src/app/services/user-service/user.service.ts
Due: install:client, lint:client, build:client, test:client

add achievements to user search
  packages/common/models/user-search.ts
  packages/server/app/services/user-search-service/user-search-service.spec.ts
  packages/server/app/services/user-search-service/user-search-service.ts
Due: install:server, lint:server, build:server, test:server

achievement profile and profile search page
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/user-profile/user-achievement-dialog/user-achievement-dialog.component.html
  packages/client/src/app/components/user-profile/user-achievement-dialog/user-achievement-dialog.component.scss
  packages/client/src/app/components/user-profile/user-achievement-dialog/user-achievement-dialog.component.spec.ts
  packages/client/src/app/components/user-profile/user-achievement-dialog/user-achievement-dialog.component.ts
  packages/client/src/app/components/user-profile/user-achievement/user-achievement.component.html
  packages/client/src/app/components/user-profile/user-achievement/user-achievement.component.scss
  packages/client/src/app/components/user-profile/user-achievement/user-achievement.component.spec.ts
  packages/client/src/app/components/user-profile/user-achievement/user-achievement.component.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.scss
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
  packages/client/src/app/services/user-service/user.service.ts
  packages/common/models/achievement.ts
  packages/server/app/constants/achievement.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

remove comments [ci-skip]
  packages/server/app/services/achievements-service/achievements-service.spec.ts
Due: install:server, lint:server, build:server, test:server

forgot [ci-skip]
  packages/client/src/app/services/initializer-service/initializer.service.ts
Due: install:client, lint:client, build:client, test:client

fix paginator
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
Due: install:client, lint:client, build:client, test:client

[ci-skip] typo
  packages/server/app/constants/achievement.ts
Due: install:server, lint:server, build:server, test:server

Fix user profile picture not updating in profile page
  packages/mobile/lib/pages/profile-page.dart
Due: none

End round when quit puzzle
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fix fetch error for empty avatar url
  packages/mobile/lib/components/user-avatar.dart
  packages/mobile/lib/constants/puzzle-constants.dart
Due: none

Home page title en francais
  packages/mobile/lib/pages/home-page.dart
Due: none

Listen to only one timerexpired callback
  packages/mobile/lib/services/round-service.dart
Due: none

Added controller and service for synchronisation
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/controllers/tile-synchronisation-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/tile-synchronisation.service.dart
Due: none

Added tile state
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile.dart
Due: none

Added tile state
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-state.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/game/game_square.dart
Due: none

Usage of tile state
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/classes/tile/tile-state.dart
  packages/mobile/lib/classes/tile/tile.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack/abstract-tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
Due: none

lint
  packages/client/src/app/components/user-profile/user-achievement-dialog/user-achievement-dialog.component.spec.ts
Due: install:client, lint:client, build:client, test:client

lint
  packages/server/app/services/analysis-service/analysis.service.spec.ts
  packages/server/app/services/analysis-service/analysis.service.ts
Due: install:server, lint:server, build:server, test:server

Fix profile page
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/upload.service.dart
Due: none

Fix movable tiles in analysis
  packages/mobile/lib/classes/analysis/analysis-view.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
Due: none

Added synchronised tile list
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/controllers/tile-synchronisation-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/tile-synchronisation.service.dart
Due: none

Update tilePlacement field
  packages/mobile/lib/classes/tile/tile-placement.dart
Due: none

test
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/services/game.service.dart
Due: none

add achievements to profile page
  packages/mobile/lib/classes/achievements.dart
  packages/mobile/lib/components/user-profile/user-profile-achievements.dart
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/pages/profile-page.dart
  packages/mobile/lib/services/user.service.dart
Due: none

add modal
  packages/mobile/lib/components/user-profile/user-profile-achievements.dart
Due: none

make it works for search user page
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

Rs: enlever vieux code
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: enelver
  packages/client/src/app/pages/join-waiting-page/join-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: mettre a jour package lock
  packages/client/package-lock.json
Due: install:client, lint:client, build:client, test:client

RS: First draft of firebase messaging
  packages/mobile/lib/constants/endpoint.constants.dart
  packages/mobile/lib/controllers/notification-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/notification.service.dart
  packages/mobile/lib/services/user-session.service.dart
  packages/mobile/pubspec.yaml
  packages/server/app/classes/communication/request.ts
  packages/server/app/constants/controllers-constants.ts
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
  packages/server/app/controllers/notification-controller/notification.controller.ts
  packages/server/app/services/notification-service/notification.service.spec.ts
  packages/server/app/services/notification-service/notification.service.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/assets/log3900-polyscrabble-firebase-adminsdk-key.json
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

text elo info
  packages/mobile/lib/classes/game/player.dart
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
  packages/mobile/lib/constants/locale/game-constants.dart
  packages/mobile/lib/constants/user-constants.dart
Due: none

leaderboard page
  packages/mobile/lib/controllers/user-controller.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/leaderboard.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/user.service.dart
Due: none

RS: small fixes
  packages/client/src/app/directives/button-sound-directive/click-sound.directive.spec.ts
  packages/client/src/app/directives/button-sound-directive/click-sound.directive.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/sound-service/sound.service.ts
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
