Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

i dont fucking know
  packages/mobile/android/app/src/main/res/drawable/Scrabble-logo.png
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
  packages/mobile/pubspec.yaml
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

Update observer-game-page.component.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

change ui
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

Update game-observers-players.component.html
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
Due: install:client, lint:client, build:client, test:client

ok so running state finally
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/res/drawable/Scrabble-logo.png
  packages/mobile/android/build.gradle
  packages/mobile/android/gradle.properties
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
  packages/mobile/pubspec.yaml
Due: none

notification settings
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
Due: none

the suffering ive been through for this line
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/pubspec.yaml
Due: none

working notif
  packages/mobile/android/app/src/main/res/drawable/scrabble_logo.png
  packages/mobile/lib/services/notification.service.dart
Due: none

working top priority notif outside and inside app
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
Due: none

refactor notif methods
  packages/mobile/lib/main.dart
  packages/mobile/lib/services/notification.service.dart
Due: none

add username in notif
  packages/server/app/controllers/notification-controller/notification.controller.ts
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

disable action button if isobserver
  packages/client/src/app/components/tile-rack/tile-rack.component.html
Due: install:client, lint:client, build:client, test:client

Update pages-constants.ts
  packages/client/src/app/constants/pages-constants.ts
Due: install:client, lint:client, build:client, test:client

Update observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
Due: install:client, lint:client, build:client, test:client

added dialog for replacement
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

add ask for notifications
  packages/common/models/user.ts
  packages/server/app/controllers/notification-controller/notification.controller.ts
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

LE management notifications
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/controllers/notification-controller.dart
  packages/mobile/lib/services/notification.service.dart
Due: none

icons mangement
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/mobile/android/app/src/main/res/drawable-v21/naked_s_logo.png
  packages/mobile/android/app/src/main/res/drawable-v21/s_logo.png
  packages/mobile/android/app/src/main/res/drawable/launch_background.xml
  packages/mobile/lib/services/notification.service.dart
Due: none

removed console logs
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

token error msg
  packages/mobile/lib/services/notification.service.dart
Due: none

finally a good use for popandpushnamed
  packages/mobile/lib/components/user-profile/user-profile-info.dart
  packages/mobile/lib/pages/profile-edit-page.dart
Due: none

protected game disconnexion while entering password
  packages/mobile/lib/pages/join-waiting-page.dart
Due: none

Small fixes
  packages/client/src/app/classes/player/player-container.ts
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/constants/pages-constants.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.scss
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/package-lock.json
  packages/server/app/controllers/analysis-controller/analysis.controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/database-controller/database.controller.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-history-controller/game-history.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
  packages/server/app/controllers/notification-controller/notification.controller.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
  packages/server/app/controllers/server-action-controller/server-action.controller.spec.ts
  packages/server/app/controllers/user-controller/user-controller.spec.ts
  packages/server/app/factories/virtual-player-factory/virtual-player-factory.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/notification-service/notification.service.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/package-lock.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

pretty sketchy test for notif controller base route
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

useless tests actually
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

fix math
  packages/client/src/app/components/user-profile/user-achievement/user-achievement.component.ts
Due: install:client, lint:client, build:client, test:client

removed only
  packages/server/app/controllers/notification-controller/notification.controller.spec.ts
Due: install:server, lint:server, build:server, test:server

the bare minimum
  packages/server/app/services/notification-service/notification.service.spec.ts
  packages/server/app/services/notification-service/notification.service.ts
Due: install:server, lint:server, build:server, test:server

oopsie
  packages/client/package-lock.json
Due: install:client, lint:client, build:client, test:client

usage of robot icon
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/parameters.dart
Due: none

jss tlm fkn cave
  packages/client/package-lock.json
Due: install:client, lint:client, build:client, test:client

F
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Update group-events.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
Due: none

Update game-creation-controller.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

Update game-play.controller.dart
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

Update create-lobby-methods.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none
