Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Added leaderboard
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
  packages/mobile/lib/constants/puzzle-constants.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Added start button condition
  packages/mobile/lib/classes/puzzle/puzzle-type.dart
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
Due: none

rounding achievements (fix parsing error)
  packages/mobile/lib/classes/achievements.dart
  packages/mobile/lib/components/user-profile/user-profile-achievements.dart
Due: none

fix double parse
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
  packages/mobile/lib/pages/profile-page.dart
Due: none

history disable not own profile
  packages/mobile/lib/classes/game-history.dart
Due: none

gameHistory elo change
  packages/mobile/lib/classes/game-history.dart
  packages/mobile/lib/components/user-profile/user-profile-game-history.dart
Due: none

fix message notread when own msg
  packages/mobile/lib/services/chat.service.dart
Due: none

code session 3am friday
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/mobile/macos/Podfile
  packages/server/app/classes/puzzle/daily-puzzle-generator/daily-puzzle-generator.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/package-lock.json
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

GL3H23103-332: puzzle + achievement explanation and puzzle message bug
  packages/client/src/app/constants/puzzle-constants.ts
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.ts
  packages/server/app/constants/achievement.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

GL3H23103-297: fix analysis layout
  packages/client/src/app/components/analysis/analysis-result-modal/analysis-result-modal.component.scss
Due: install:client, lint:client, build:client, test:client

GL3H23103-240: enlever choses ancienne + make it responsive
  packages/client/src/app/components/group-info/group-info.component.html
  packages/client/src/app/components/group-info/group-info.component.scss
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/pages/groups-page/groups-page.component.html
  packages/client/src/app/pages/groups-page/groups-page.component.scss
  packages/client/src/app/pages/groups-page/groups-page.component.ts
Due: install:client, lint:client, build:client, test:client

put back
  packages/client/src/app/pages/groups-page/groups-page.component.ts
Due: install:client, lint:client, build:client, test:client

disable select
  packages/client/src/app/components/chatbox-message/chatbox-message.component.scss
  packages/client/src/app/components/chatbox/chatbox.component.scss
  packages/client/src/app/components/page-header/page-header.component.scss
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.scss
Due: install:client, lint:client, build:client, test:client

responsive page header
  packages/client/src/app/components/page-header/page-header.component.scss
Due: install:client, lint:client, build:client, test:client

responsive home page
  packages/client/src/app/pages/home-page/home-page.component.scss
Due: install:client, lint:client, build:client, test:client

add puzzle explanation
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.html
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.scss
Due: install:client, lint:client, build:client, test:client

improve writing
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.html
Due: install:client, lint:client, build:client, test:client

action to string input
  packages/mobile/lib/classes/actions/action-data.dart
Due: none

remove print
  packages/mobile/lib/classes/actions/action-data.dart
Due: none

RS: Fix the fixes
  packages/client/src/app/classes/round/timer.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/user-profile/user-profile-edit-dialog/user-profile-edit-dialog.component.ts
  packages/client/src/app/components/user-profile/user-profile-stats-item/user-profile-stats-item.component.scss
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.html
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.ts
  packages/server/app/classes/round/round-manager.spec.ts
  packages/server/app/classes/round/round-manager.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Use mat checkbox
  packages/client/src/app/components/sound-settings-dialog/sound-settings-dialog.html
Due: install:client, lint:client, build:client, test:client

un lint de console... ça fait dur mon affaire
  packages/client/src/app/pages/puzzle-home-page/puzzle-home-page.component.ts
Due: install:client, lint:client, build:client, test:client

Added classes
  packages/mobile/lib/classes/game/game_messages.dart
  packages/mobile/macos/Podfile
  packages/server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Modified Regex
  packages/mobile/lib/utils/game_messages.dart
Due: none

Added widget buildings
  packages/mobile/lib/services/game-messages.service.dart
Due: none

different message for observator
  packages/mobile/lib/constants/locale/game-constants.dart
  packages/mobile/lib/services/game.service.dart
Due: none

code session saturday night
  packages/client/src/app/components/game/game-observers-players/game-observers-players.component.html
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/server/app/constants/game-constants.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

temps moyen en minutes
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
Due: none

Added play button logic
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/game/game_messages.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/services/game-messages.service.dart
Due: none

Fixed draggable synced tile
  packages/mobile/lib/components/game/game_square.dart
Due: none

fixed duplicated synced tile
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/components/game/game_board.dart
Due: none

Removed next puzzle button in daily puzzle
  packages/mobile/lib/classes/puzzle/puzzle-config.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
  packages/mobile/lib/components/puzzle/puzzle-result-dialog.dart
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

removed commented code
  packages/mobile/lib/components/puzzle/puzzle-type-selector.dart
Due: none

cleanup
  packages/mobile/lib/components/puzzle/start-daily-puzzle-dialog.dart
Due: none

Fixed server ranking issue
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

Added clickable user profile in puzzle ranking
  packages/mobile/lib/components/puzzle/daily-puzzle-dialog-content.dart
Due: none

oopsie
  packages/mobile/lib/controllers/user-controller.dart
Due: none

UI improve
  packages/mobile/lib/services/game-messages.service.dart
Due: none

Fix channel notification
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

fix moyenne temps profile
  packages/mobile/lib/components/user-profile/user-profile-statistics.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
