Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

\n
  packages/client/src/app/constants/services-errors.ts
Due: install:client, lint:client, build:client, test:client

tokebakicitte
  packages/client/src/app/constants/services-errors.ts
Due: install:client, lint:client, build:client, test:client

anonymous interface KEEP OUT
  packages/client/src/app/controllers/authentication-controller/authentication.controller.ts
  packages/common/models/user.ts
Due: install:client, lint:client, build:client, test:client

handle authentication error on client
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
  packages/server/app/middlewares/error-handler.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Tell user to try again if cannot connect to DB
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/services/initializer-service/initializer.service.ts
Due: install:client, lint:client, build:client, test:client

old comments = bad
  packages/client/src/app/services/authentication-service/authentication.service.spec.ts
Due: install:client, lint:client, build:client, test:client

tokebak part 2
  packages/server/app/constants/controllers-errors.ts
Due: install:server, lint:server, build:server, test:server

rename refactor
  packages/client/src/app/services/authentication-service/authentication.service.ts
Due: install:client, lint:client, build:client, test:client

add more info and test db service
  packages/client/src/app/services/database-service/database.service.spec.ts
  packages/client/src/app/services/database-service/database.service.ts
Due: install:client, lint:client, build:client, test:client

remove useless const
  packages/client/src/app/constants/services-errors.ts
  packages/client/src/app/services/database-service/database.service.spec.ts
  packages/client/src/app/services/database-service/database.service.ts
Due: install:client, lint:client, build:client, test:client

ANONYMOUS INTERFACE : NO
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/common/models/error.ts
Due: install:client, lint:client, build:client, test:client

refactor variable name
  packages/client/src/app/services/socket-service/socket.service.ts
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/components/login-container/login-container.component.spec.ts
Due: install:client, lint:client, build:client, test:client

remove unused error
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

fix connected-user test
  packages/server/app/classes/user/connected-user.spec.ts
Due: install:server, lint:server, build:server, test:server

move types to own file
  packages/server/app/classes/user/connected-user-types.ts
  packages/server/app/classes/user/connected-user.ts
Due: install:server, lint:server, build:server, test:server

more view changes
  packages/mobile/images/avatar-12.png
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/pubspec.yaml
Due: none

adust to merge changes
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/services/socket-service/socket.service.ts
  packages/common/events/chat.event.ts
  packages/common/models/user.ts
  packages/server/app/app.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/middlewares/error-handler.ts
  packages/server/app/server.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

remove duplicate const
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

put back config
  packages/server/tsconfig.json
Due: install:server, lint:server, build:server, test:server

use TypeOfId
  packages/server/app/classes/user/connected-user-types.ts
  packages/server/app/classes/user/token-data.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

bugfix
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/migrations/20230208170836_chat-persistence.js
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

remove unused return values
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

fix chat and authentication tests
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix client tests
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/socket-service/socket.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Add some tests and change end of game conditioncheck
  packages/server/app/classes/actions/action-exchange/action-exchange.spec.ts
  packages/server/app/classes/actions/action-place/action-place.spec.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/round/round-manager.spec.ts
  packages/server/app/classes/round/round-manager.ts
Due: install:server, lint:server, build:server, test:server

RS: adjust code for comments en clean up
  packages/server/app/classes/actions/action-exchange/action-exchange.ts
  packages/server/app/classes/actions/action-place/action-place.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/constants/classes-constants.ts
  packages/server/app/constants/classes-errors.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/utils/fill-player-data/fill-player-data.ts
Due: install:server, lint:server, build:server, test:server

RS: Add test and modify test according to changes to 4 player
  packages/server/app/classes/actions/action-place/action-place.spec.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/classes/round/round-manager.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/objective-service/objective.service.spec.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.spec.ts
  packages/server/app/utils/fill-player-data/fill-player-data.spec.ts
Due: install:server, lint:server, build:server, test:server

je comprends la française
  packages/server/app/constants/services-errors.ts
Due: install:server, lint:server, build:server, test:server

[ci skip]
  packages/server/.gitignore
Due: install:server, lint:server, build:server, test:server

RS: make changes for mr comments
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/game.ts
  packages/server/app/utils/fill-player-data/fill-player-data.spec.ts
  packages/server/app/utils/fill-player-data/fill-player-data.ts
Due: install:server, lint:server, build:server, test:server

RS: Fix broken tests
  packages/server/app/classes/actions/action-exchange/action-exchange.spec.ts
  packages/server/app/utils/fill-player-data/fill-player-data.spec.ts
Due: install:server, lint:server, build:server, test:server

merge prototype with dev and removed unused code
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/channels.constants.dart
  packages/mobile/lib/constants/login-constants.dart
  packages/mobile/lib/constants/socket-events.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

channelmessage update
  packages/mobile/lib/classes/channel-message.dart
Due: none

commit for merge [ci skip]
  packages/mobile/lib/constants/login-constants.dart
Due: none

removed comment [ci skip]
  packages/mobile/lib/components/chatbox.dart
Due: none

removed blank line [ci skip]
  packages/mobile/lib/services/socket.service.dart
Due: none

removed commented classes
  packages/mobile/lib/classes/user.dart
Due: none

fix dead change chatbox [ci skip]
  packages/mobile/lib/components/chatbox.dart
Due: none

Fixed merge errors
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
  packages/server/app/services/socket-service/socket.service.ts
  packages/server/app/utils/random/random.ts
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
