Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

drag and drop works, first version validate placement
  packages/client/src/app/classes/tile/index.ts
  packages/client/src/app/classes/tile/tile-placement.ts
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/square/square.component.html
  packages/client/src/app/components/square/square.component.scss
  packages/client/src/app/components/square/square.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/action-service/action.service.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
  packages/client/src/app/services/game-view-event-manager-service/event-types.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.ts
  packages/client/src/app/services/input-parser-service/input-parser.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
  packages/client/src/app/stories/components/game/board.stories.ts
  packages/client/src/app/stories/components/game/game-page.stories.ts
  packages/client/src/app/stories/components/game/tile-rack.stories.ts
  packages/client/src/app/stories/components/test-component/test-component.component.html
  packages/client/src/app/stories/components/test-component/test-component.component.scss
  packages/client/src/app/stories/components/test-component/test-component.component.spec.ts
  packages/client/src/app/stories/components/test-component/test-component.component.ts
  packages/client/src/app/stories/components/test-component/test-component.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/controllers/game-play-controller.ts
  packages/client/src/app/stories/modules/initialized-game-stories/initialized-game-stories.module.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/player-leaves-service.ts
  packages/client/src/app/stories/services/socket-service.ts
Due: install:client, lint:client, build:client, test:client

validate + play action
  packages/client/src/app/classes/board-navigator/board-navigator.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/square/square.component.scss
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/action-service/action.service.ts
  packages/client/src/app/services/board-service/board.service.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/game-view-event-manager-service/event-types.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
  packages/client/src/app/stories/modules/initialized-game-stories/controllers/game-play-controller.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/client/src/app/utils/comparator/comparator.ts
Due: install:client, lint:client, build:client, test:client

handle blank tiles
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.html
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.scss
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.spec.ts
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.stories.ts
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.ts
  packages/client/src/app/components/tile/tile.component.html
  packages/client/src/app/components/tile/tile.component.scss
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
  packages/client/src/app/stories/components/game/board.stories.ts
  packages/client/src/app/stories/components/game/game-page.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

fix enter in gameplay
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

tests compile (but good luck running them tho)
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/square/square.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/services/action-service/action.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.spec.ts
  packages/client/src/app/services/input-parser-service/input-parser.service.spec.ts
  packages/client/src/app/stories/components/test-component/test-component.component.html
  packages/client/src/app/stories/components/test-component/test-component.component.scss
  packages/client/src/app/stories/components/test-component/test-component.component.spec.ts
  packages/client/src/app/stories/components/test-component/test-component.component.ts
  packages/client/src/app/stories/components/test-component/test-component.stories.ts
Due: install:client, lint:client, build:client, test:client

RS: advance analysis
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/classes/round/round-manager.ts
  packages/server/app/classes/round/round.ts
  packages/server/app/constants/services-constants/database-const.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
  packages/server/app/services/board-service/board.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
  packages/server/migrations/20230317001154_analysis.js
Due: install:server, lint:server, build:server, test:server

Added socket events
  packages/server/app/services/socket-service/socket-types.ts
Due: install:server, lint:server, build:server, test:server

fix injection failed tests
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/choose-blank-tile-dialog/choose-blank-tile-dialog.component.spec.ts
  packages/client/src/app/components/communication-box/communication-box.component.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Added endpoints
  packages/server/app/classes/communication/request.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

fix orientation
  packages/mobile/lib/classes/board/orientation.dart
  packages/mobile/lib/classes/board/position.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
Due: none

Fixed? Need to test but computer is 2 slow
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
Due: none

Added disconnect on socket and pop game
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Added events
  packages/client/src/app/services/game-view-event-manager-service/event-types.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.ts
Due: install:client, lint:client, build:client, test:client

Added Api calls and socket
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

Added undined to orientation
  packages/client/src/app/classes/board-navigator/board-navigator.ts
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/square/square.component.spec.ts
  packages/client/src/app/components/square/square.component.ts
Due: install:client, lint:client, build:client, test:client

improved canPlace condition
  packages/client/src/app/components/board/board.component.ts
Due: install:client, lint:client, build:client, test:client

success
  packages/client/src/app/components/square/square.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

test tile placement service
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

test drag and drop
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
Due: install:client, lint:client, build:client, test:client

clear cursor on escape
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
Due: install:client, lint:client, build:client, test:client

tile duplication fix
  packages/mobile/lib/classes/tile/tile-rack.dart
Due: none

tiles on board gestion for pass
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

fixed placement from end to front
  packages/mobile/lib/classes/tile/tile-placement.dart
Due: none

Create game-password-pop-up.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Create join-game.constants.dart
  packages/mobile/lib/constants/join-game.constants.dart
Due: none

puzzle generation
  packages/server/.mocharc.json
  packages/server/app/classes/dictionary/dictionary-node.ts
  packages/server/app/classes/dictionary/dictionary.spec.ts
  packages/server/app/classes/dictionary/random-word.ts
  packages/server/app/classes/puzzle/index.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.spec.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/puzzle/puzzle.ts
  packages/server/app/classes/tile/tile-reserve.ts
  packages/server/app/classes/word-finding/board-placement-extractor/board-placement-extractor.ts
  packages/server/app/classes/word-finding/dictionary-searcher/dictionary-searcher-random.ts
  packages/server/app/constants/letter-distributions.ts
  packages/server/app/utils/logger/logger.ts
  packages/server/app/utils/random/random.ts
  packages/server/puzzle-benchmark.txt
  packages/server/tsconfig.json
Due: install:server, lint:server, build:server, test:server

algo and code quality improvement
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.spec.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/word-finding/dictionary-searcher/dictionary-searcher-random.ts
Due: install:server, lint:server, build:server, test:server

algo and code quality improvement
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator-parameters.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.spec.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/constants/puzzle-constants.ts
  packages/server/puzzle-benchmark.txt
Due: install:server, lint:server, build:server, test:server

configure service and controller
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/puzzle/puzzle.ts
  packages/server/app/classes/word-finding/word-finding-puzzle/word-finding-puzzle.ts
  packages/server/app/classes/word-finding/word-finding-types.ts
  packages/server/app/constants/puzzle-constants.ts
  packages/server/app/constants/services-constants/dictionary-const.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
  packages/server/app/routes/routes.module.ts
  packages/server/app/services/dictionary-service/dictionary.service.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
  packages/server/app/services/word-finding-service/word-finding.service.ts
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

tests
  packages/server/.mocharc.json
  packages/server/app/classes/dictionary/dictionary.spec.ts
  packages/server/app/classes/puzzle/index.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator-parameters.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.spec.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/tile/tile-reserve.spec.ts
  packages/server/app/classes/word-finding/word-finding-puzzle/word-finding-puzzle.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
  packages/server/app/services/database-service/database.service.ts
  packages/server/app/services/database-service/testing-database.service.spec.ts
  packages/server/app/services/dictionary-service/dictionary.service.ts
  packages/server/app/services/puzzle-service/puzzle.service.spec.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
  packages/server/app/utils/logger/logger.ts
Due: install:server, lint:server, build:server, test:server

add stubs
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
  packages/server/app/services/socket-service/socket.service.spec.ts
Due: install:server, lint:server, build:server, test:server

remove unused
  packages/server/app/classes/word-finding/board-placement-extractor/board-placement-extractor.ts
  packages/server/tsconfig.json
Due: install:server, lint:server, build:server, test:server

remove unused
  packages/server/app/classes/dictionary/dictionary.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: analysis request working
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
Due: install:server, lint:server, build:server, test:server

try fix tests
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

add abandoned
  packages/client/src/app/classes/square/index.ts
  packages/client/src/app/classes/square/score-multiplier.ts
  packages/client/src/app/classes/square/square-multiplier-to-color-map.ts
  packages/client/src/app/classes/square/square-view.spec.ts
  packages/client/src/app/classes/square/square-view.ts
  packages/client/src/app/classes/square/square.ts
  packages/common/models/game.ts
  packages/common/models/position.ts
  packages/common/models/puzzle.ts
  packages/common/models/word-finding.ts
  packages/server/app/classes/board/board.ts
  packages/server/app/classes/board/position.ts
  packages/server/app/classes/puzzle/puzzle-generator/puzzle-generator.ts
  packages/server/app/classes/puzzle/puzzle.ts
  packages/server/app/classes/square/square.ts
  packages/server/app/classes/tile/tile.ts
  packages/server/app/classes/tile/tile.types.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
  packages/server/app/services/puzzle-service/puzzle.service.spec.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Print on socket disconnect
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

handle invalid words correctly
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

use scored word placement
  packages/common/models/puzzle.ts
  packages/common/models/word-finding.ts
  packages/server/app/classes/word-finding/word-finding-types.ts
Due: install:server, lint:server, build:server, test:server
