Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

RS: Remove gametype and game mode
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/create-game-service/create-game.service.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Cahnge tests
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
  packages/server/app/services/game-history-service/game-history.service.spec.ts
  packages/server/app/services/game-play-service/game-play.service.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: change server logic for new events and flow
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Change virtual player names attribution
  packages/server/app/classes/game/waiting-room.ts
  packages/server/app/constants/services-errors.ts
  packages/server/app/constants/virtual-player-constants.ts
  packages/server/app/services/virtual-player-service/virtual-player.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Change VP names and clean up visual gamepage
  packages/client/src/app/components/communication-box/communication-box.component.html
  packages/client/src/app/components/information-box/information-box.component.html
  packages/server/app/classes/virtual-player/beginner-virtual-player/beginner-virtual-player.ts
  packages/server/app/classes/virtual-player/expert-virtual-player/expert-virtual-player.ts
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Various changes and remove old code when reviewing changes
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.ts
  packages/client/src/app/components/information-box/information-box.component.ts
  packages/client/src/app/controllers/player-leave-controller/player-leave.controller.ts
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.ts
  packages/common/models/group.ts
  packages/server/app/classes/game/game.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Update chatbox.dart
  packages/mobile/lib/components/chatbox.dart
Due: none

login constants
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/login-constants.dart
Due: none

Update home-page.dart
  packages/mobile/lib/pages/home-page.dart
Due: none

Update account-authentification-controller.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

switch case main
  packages/mobile/lib/classes/login.dart
  packages/mobile/lib/main.dart
Due: none

Update authentification-service.dart
  packages/mobile/lib/services/authentification-service.dart
Due: none

Update socket.service.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Update user-session.service.dart
  packages/mobile/lib/services/user-session.service.dart
Due: none

Update game.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

test comment
  packages/mobile/test/components/create-account-form_test.dart
  packages/mobile/test/components/create-account-form_test.mocks.dart
Due: none

interface changes
  packages/mobile/lib/classes/channel-message.dart
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/chatbox.dart
Due: none

env
  packages/mobile/lib/environments/environnement-config.dart
Due: none

socket managerment
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/controllers/channel.controller.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Update login-form.dart
  packages/mobile/lib/components/login-form.dart
Due: none

Update channel.controller.dart
  packages/mobile/lib/controllers/channel.controller.dart
Due: none

Create database.controller.dart
  packages/mobile/lib/controllers/database.controller.dart
Due: none

Update storage.handler.dart
  packages/mobile/lib/services/storage.handler.dart
Due: none

chat management join quit channels
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/components/chat-management.dart
Due: none

all channels
  packages/common/events/chat.event.ts
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/components/chat-management.dart
Due: none

quit join all interaction
  packages/mobile/lib/components/chat-management.dart
Due: none

remove tests
  packages/mobile/test/components/create-account-form_test.dart
  packages/mobile/test/components/create-account-form_test.mocks.dart
Due: none

Removed server changes
  .gitignore
  packages/mobile/pubspec.lock
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/middlewares/authentificate-token.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

allow drag and drop in tilerack and board
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/animation/wiggle.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Fixed MR comments
  packages/mobile/lib/classes/game-visibility.dart
  packages/mobile/lib/classes/virtual-player-level.dart
  packages/mobile/lib/constants/erros/game-visibility-errors.dart
  packages/mobile/lib/constants/erros/virtual-player-errors.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Ignore generated files
  packages/mobile/.gitignore
Due: none

added signup
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

Adapated user json serialization
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/classes/user.dart
Due: none

update validateUsername and validateEmail
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/authentification-service.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
