Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

RS: Put Id att beginning of property names and user foreign keys in Analysis table
  packages/server/migrations/20230317001154_analysis.js
Due: install:server, lint:server, build:server, test:server

Update group-join-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
Due: none

fix non protected join
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

RS: Faire les changemtns des commentaires
  packages/client/src/app/classes/communication/game-update-data.ts
  packages/common/models/analysis.ts
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/classes/communication/game-update-data.ts
  packages/server/app/constants/services-constants/analysis-const.ts
  packages/server/app/controllers/analysis-controller/analysis.controller.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
  packages/server/app/services/board-service/board.service.ts
  packages/server/app/services/game-history-service/game-history.service.ts
  packages/server/app/services/game-play-service/game-play.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added puzzle level
  packages/mobile/lib/classes/puzzle/puzzle-level.dart
  packages/mobile/lib/components/puzzle/puzzle-level-selector.dart
  packages/mobile/lib/components/puzzle/start-puzzle-dialog.dart
Due: none

Technically working read message
  packages/mobile/lib/classes/channel-message.dart
  packages/mobile/lib/classes/chat-message.dart
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/services/chat-management.service.dart
Due: none

removed comments
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

Update group-join.service.dart
  packages/mobile/lib/services/group-join.service.dart
Due: none

Update individual-group.dart
  packages/mobile/lib/components/group/individual-group.dart
Due: none

Update group.dart
  packages/mobile/lib/classes/group.dart
Due: none

Refactored sockets
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/constants/chat-management.constants.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/channel.service.dart
  packages/mobile/lib/services/chat-management.service.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

fix route
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Update group-selection.dart
  packages/mobile/lib/components/group/group-selection.dart
Due: none

end of puzzle
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/board2/board2.component.html
  packages/client/src/app/components/board2/board2.component.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.scss
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.spec.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.stories.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.html
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.scss
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.spec.ts
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.stories.ts
  packages/client/src/app/components/puzzle/puzzle-score/puzzle-score.component.ts
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.html
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.scss
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.spec.ts
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.ts
  packages/client/src/app/components/puzzle/start-puzzle-modal/stat-puzzle-modal.component.stories.ts
  packages/client/src/app/controllers/puzzle-controller/puzzle.controller.ts
  packages/client/src/app/modules/swiper/components/swiper-navigation/swiper-navigation.component.html
  packages/client/src/app/modules/swiper/components/swiper-navigation/swiper-navigation.component.scss
  packages/client/src/app/modules/swiper/components/swiper-navigation/swiper-navigation.component.spec.ts
  packages/client/src/app/modules/swiper/components/swiper-navigation/swiper-navigation.component.ts
  packages/client/src/app/modules/swiper/components/swiper-slide/swiper-slide.component.html
  packages/client/src/app/modules/swiper/components/swiper-slide/swiper-slide.component.scss
  packages/client/src/app/modules/swiper/components/swiper-slide/swiper-slide.component.spec.ts
  packages/client/src/app/modules/swiper/components/swiper-slide/swiper-slide.component.ts
  packages/client/src/app/modules/swiper/components/swiper/swiper.component.html
  packages/client/src/app/modules/swiper/components/swiper/swiper.component.scss
  packages/client/src/app/modules/swiper/components/swiper/swiper.component.spec.ts
  packages/client/src/app/modules/swiper/components/swiper/swiper.component.stories.ts
  packages/client/src/app/modules/swiper/components/swiper/swiper.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/puzzle-service/puzzle.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
  packages/common/models/puzzle.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

fixed bug
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

Finished refactor, still has some bugs
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/components/scaffold-persistance.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

small changes
  packages/client/src/app/components/puzzle/start-puzzle-modal/start-puzzle-modal.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

Fixed bug
  packages/mobile/lib/services/chat.service.dart
Due: none

refactor board2 -> board
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/board2/board.component.html
  packages/client/src/app/components/board2/board.component.scss
  packages/client/src/app/components/board2/board.component.spec.ts
  packages/client/src/app/components/board2/board.component.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.scss
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.stories.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
Due: install:client, lint:client, build:client, test:client

improved predicat
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Change order and minor fixes
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/analysis-service/analysis.service.ts
  packages/server/app/utils/string-conversion/string-conversion.ts
Due: install:server, lint:server, build:server, test:server

RS: Add tests
  packages/server/app/controllers/analysis-controller/analysis.controller.spec.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.spec.ts
  packages/server/app/services/analysis-service/analysis.service.spec.ts
  packages/server/app/utils/string-conversion/string-conversion.spec.ts
Due: install:server, lint:server, build:server, test:server

RS: Remove unwanted modification
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

puzzle history
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.html
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.scss
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.spec.ts
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.stories.ts
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.ts
  packages/client/src/app/modules/material.module.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.scss
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/common/models/puzzle.ts
Due: install:client, lint:client, build:client, test:client

bug fix
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

reset settings for user
  packages/client/src/app/services/authentication-service/authentication.service.ts
  packages/client/src/app/utils/settings/index.ts
Due: install:client, lint:client, build:client, test:client

fix story
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.stories.ts
Due: install:client, lint:client, build:client, test:client

dont display points if -1
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.html
Due: install:client, lint:client, build:client, test:client

small [ci-skip]
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/puzzle/puzzle-history/puzzle-history.component.spec.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.stories.ts
  packages/client/src/app/modules/material.module.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

refactor [ci-skip]
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/components/board/board.component.scss
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/board/board.component.ts
Due: install:client, lint:client, build:client, test:client

tests for issue
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

key events [ci-skip]
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.stories.ts
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
Due: install:client, lint:client, build:client, test:client

max number of results [ci-skip]
  packages/server/app/constants/puzzle-constants.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

confirm abandon [ci-skip]
  packages/client/src/app/constants/puzzle-constants.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

tooltip [ci-skip]
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.scss
Due: install:client, lint:client, build:client, test:client

fix log error [ci-skip]
  packages/client/src/app/components/puzzle/puzzle-result-modal/puzzle-result-modal.component.ts
Due: install:client, lint:client, build:client, test:client

fix puzzle placement [ci-skip]
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
Due: install:client, lint:client, build:client, test:client

remove console log [ci-skip]
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

fix start game error [ci-skip]
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
