Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

empty chat search field
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/components/chatbox-container/chatbox-container.component.spec.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
Due: install:client, lint:client, build:client, test:client

chat
  packages/mobile/lib/components/game/game_messages.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/game-messages.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Improved Urls
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

Added timer visual
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/controllers/game-play.controller.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Added check for action input
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
Due: install:server, lint:server, build:server, test:server

Fixed tilerack
  packages/mobile/lib/classes/game/game-update.dart
  packages/mobile/lib/services/game.service.dart
Due: none

Disable exchange mode on exchange
  packages/mobile/lib/classes/tile/tile-rack.dart
  packages/mobile/lib/components/game/game_actions.dart
Due: none

Removed setState
  packages/mobile/lib/components/game/game_timer.dart
Due: none

RS: Add player leaves on observer to make http leave call2
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add observers to game and to leave logic
  packages/server/app/classes/game/game.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
  packages/server/app/services/active-game-service/active-game.service.ts
  packages/server/app/services/game-dispatcher-service/game-dispatcher.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Remove not used modification
  packages/client/src/app/services/reconnection-service/reconnection.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Bug fix
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

RS: Adjust tests
  packages/client/src/app/classes/player/player-container.spec.ts
  packages/client/src/app/components/communication-box/communication-box.component.spec.ts
  packages/client/src/app/components/information-box/information-box.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.spec.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Change visual
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.scss
Due: install:client, lint:client, build:client, test:client

RS: Testing to see if these are the problematic tests
  packages/client/src/app/controllers/user-controller/user.controller.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/services/user-validator/user-validator.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Add 2 of the 4 files
  packages/client/src/app/controllers/user-controller/user.controller.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Recomment 1 of the files
  packages/client/src/app/controllers/user-controller/user.controller.spec.ts
Due: install:client, lint:client, build:client, test:client

fixed all APIs
  packages/mobile/lib/controllers/game-creation-controller.dart
Due: none

RS: make sure userprofile page is the problem
  packages/client/src/app/controllers/user-controller/user.controller.spec.ts
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: try to spy user service
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: uncomment userservice
  packages/client/src/app/services/user-service/user.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Using GameCreation Service and using async
  packages/mobile/lib/components/group/group-management.dart
  packages/mobile/lib/components/group/player-waiting-list.dart
  packages/mobile/lib/constants/locale/groups-constants.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/services/game-creation-service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

RS: Make sure userprofile page is the real problem part2
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: with mocked behaviror subjects
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Sets groupId after creation
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/constants/locale/groups-constants.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

Added join requests events
  packages/mobile/lib/constants/socket-events/game-events.dart
  packages/mobile/lib/constants/socket-events/group-events.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/game-creation-service.dart
Due: none

RS: add imports
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: put in ngoninit
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Undo last change as it was not needed
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:client, lint:client, build:client, test:client

Removed comments
  packages/mobile/lib/components/game/game_timer.dart
Due: none

Fixed controller
  packages/mobile/lib/controllers/game-play.controller.dart
Due: none

fix test for pipeline
  packages/client/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/pages/user-search-result-page/user-search-result-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

improved configured sockets
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/services/game-creation-service.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

endGame Service
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/end-game.service.dart
Due: none

modifications for end game gestion
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/services/player-leave-service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

change to constants + winners management
  packages/mobile/lib/constants/locale/game-constants.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/end-game.service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

fixes
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server
