Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

a decent amount of stuff
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/classes/user.dart
  packages/mobile/lib/components/game/game_observer_actions.dart
  packages/mobile/lib/components/group/group-selection.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/components/group/player-waiting-list.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/controllers/game-creation-controller.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/create-lobby.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game-observer-service.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/services/user.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: install:client, lint:client, build:client, test:client

Fixed bug fr
  packages/mobile/lib/classes/board/board.dart
  packages/mobile/lib/classes/tile/tile-placement.dart
  packages/mobile/lib/constants/game.constants.dart
Due: none

Add leave on close app
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Checked for appropriate entry page
  packages/mobile/lib/pages/game-page.dart
Due: none

Fixed bug
  packages/server/app/classes/word-finding/abstract-word-finding/abstract-word-finding.ts
Due: install:server, lint:server, build:server, test:server

added tests
  packages/server/app/classes/word-finding/abstract-word-finding/abstract-word-finding.spec.ts
Due: install:server, lint:server, build:server, test:server

remove unused interface
  packages/server/app/classes/dictionary/random-word.ts
Due: install:server, lint:server, build:server, test:server

typo
  packages/server/app/classes/word-finding/dictionary-searcher/dictionary-searcher-random.ts
Due: install:server, lint:server, build:server, test:server

remove unused json
  packages/server/assets/letter-distribution.json
Due: install:server, lint:server, build:server, test:server

validator
  packages/common/models/error.ts
  packages/server/app/classes/http-exception/http-exception.ts
  packages/server/app/constants/validator-errors.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
  packages/server/app/middlewares/error-handler.ts
  packages/server/app/middlewares/validator.ts
  packages/server/app/middlewares/validators/word-placement.ts
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

view + observables management cp
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_observer_actions.dart
  packages/mobile/lib/components/player/abstract_player.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/services/game-observer-service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

update after round + a bit of cleanup
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/components/player/player.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/services/game-observer-service.dart
  packages/mobile/lib/services/game.service.dart
Due: none

removed prints
  packages/mobile/lib/services/group-join.service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

Position instead of Square
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/client/src/app/controllers/game-play-controller/game-play.controller.ts
  packages/client/src/app/services/game-service/game.service.ts
  packages/client/src/app/services/game-view-event-manager-service/event-types.ts
  packages/client/src/app/services/game-view-event-manager-service/game-view-event-manager.service.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.spec.ts
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/services/socket-service/socket-types.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

added popup for creation
  packages/mobile/lib/components/alert-dialog.dart
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/create-game/timer-selector.dart
  packages/mobile/lib/constants/home-page.constants.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/groups-request-waiting-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/join-waiting-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/player-leave-service.dart
  packages/mobile/lib/services/theme-color-service.dart
Due: none

Added timer modification
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/components/create-game/timer-selector.dart
  packages/mobile/lib/constants/create-game.constants.dart
Due: none

RS: travail mardi
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/classes/tile/tile-reserve.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/board-service/board.service.ts
Due: install:server, lint:server, build:server, test:server

Refactored timer selector
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/components/create-game/timer-selector.dart
  packages/mobile/lib/services/theme-color-service.dart
Due: none

Added start logic
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/constants/endpoint.constants.dart
  packages/mobile/lib/controllers/puzzle-creation-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/services/puzzle-creation-service.dart
Due: none

Fixed start game conversion
  packages/mobile/lib/classes/puzzle/puzzle.dart
Due: none

Renamed Game to MultiplayerGame
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/puzzle-creation-service.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Moved games
  packages/mobile/lib/classes/abstract-game.dart
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/puzzle/puzzle-config.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/components/player/players_container.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/pages/puzzle-page.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Round refactor
  packages/mobile/lib/classes/abstract-game.dart
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/game/game.dart
  packages/mobile/lib/classes/puzzle/puzzle.dart
  packages/mobile/lib/classes/rounds/round.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/puzzle-service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

RS: Working analysis
  packages/server/app/classes/analysis/analysis.ts
  packages/server/app/services/analysis-persistence-service/analysis-persistence.service.ts
  packages/server/app/services/board-service/board.service.ts
Due: install:server, lint:server, build:server, test:server

comments
  packages/common/models/puzzle.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.spec.ts
  packages/server/app/middlewares/validators/word-placement.ts
  packages/server/app/services/puzzle-service/puzzle.service.ts
Due: install:server, lint:server, build:server, test:server

Refactored game page
  packages/mobile/lib/classes/game/game-config.dart
  packages/mobile/lib/classes/rounds/round.dart
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_timer.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fixed group join and parse date
  packages/mobile/lib/classes/rounds/round.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

Refactored tile rack
  packages/mobile/lib/components/tile/tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack/abstract-tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack/clear-placed-tiles.dart
  packages/mobile/lib/components/tile/tile-rack/multiplayer-tile-rack.dart
  packages/mobile/lib/components/tile/tile-rack/shuffle-tile-rack-button.dart
  packages/mobile/lib/components/tile/tile-rack/toggle-exchange-mode.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
Due: none

Added puzzle tilerack
  packages/mobile/lib/components/tile/tile-rack/puzzle-tile-rack.dart
Due: none

fixed game page
  packages/mobile/lib/pages/game-page.dart
Due: none

Fixed game page
  packages/mobile/lib/components/game/game_board.dart
  packages/mobile/lib/components/game/game_square.dart
  packages/mobile/lib/pages/game-page.dart
Due: none

Fixed tilerack and place tile
  packages/mobile/lib/classes/puzzle/puzzle-config.dart
  packages/mobile/lib/classes/tile/multiplier.dart
  packages/mobile/lib/classes/tile/square.dart
  packages/mobile/lib/pages/puzzle-page.dart
Due: none

added puzzle buttons
  packages/mobile/lib/classes/puzzle/puzzle-config.dart
  packages/mobile/lib/components/game/multiplayer-tile-rack.dart
  packages/mobile/lib/components/puzzle/puzzle-tile-rack.dart
  packages/mobile/lib/components/puzzle/puzzle_actions.dart
  packages/mobile/lib/constants/locale/puzzle-constants.dart
  packages/mobile/lib/pages/game-page.dart
  packages/mobile/lib/pages/puzzle-page.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fixed end round
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/puzzle-service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

Fixed multiplier on squares
  packages/mobile/lib/classes/tile/square.dart
Due: none

Added place action
  packages/mobile/lib/components/puzzle/puzzle_actions.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

Fixed word placement
  packages/mobile/lib/classes/actions/word-placement.dart
  packages/mobile/lib/controllers/puzzle-controller.dart
  packages/mobile/lib/services/puzzle-service.dart
Due: none

convert position
  packages/server/app/classes/board/position.ts
  packages/server/app/controllers/puzzle-controller/puzzle-controller.ts
Due: install:server, lint:server, build:server, test:server

make board component independent
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/board2/board2.component.html
  packages/client/src/app/components/board2/board2.component.scss
  packages/client/src/app/components/board2/board2.component.spec.ts
  packages/client/src/app/components/board2/board2.component.ts
  packages/client/src/app/constants/routes-constants.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.spec.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/pages/home-page/home-page.component.html
  packages/client/src/app/pages/home-page/home-page.component.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.html
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.scss
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.spec.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/board-service/board.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.scss
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.spec.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client
