Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

bug fixes
  packages/mobile/lib/classes/game/players_container.dart
  packages/mobile/lib/components/create-game/create-game-form.dart
  packages/mobile/lib/services/game.service.dart
  packages/mobile/lib/services/round-service.dart
Due: none

fixed sych when minuterie is over
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

fixed typo [ci skip]
  packages/server/app/controllers/game-play-controller/game-play.controller.ts
  packages/server/app/middlewares/validators/tile-placement.ts
Due: install:server, lint:server, build:server, test:server

name change observer tiles
  packages/mobile/lib/components/game/observer_tile_rack.dart
  packages/mobile/lib/pages/game-page.dart
Due: none

navigator.pop
  packages/mobile/lib/components/group/individual-group.dart
Due: none

them adjust
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

close pop up before changing page
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

closesdialog
  packages/mobile/lib/components/group/individual-group.dart
Due: none

Update join-group.constants.dart
  packages/mobile/lib/constants/join-group.constants.dart
Due: none

move subscribtions to dialog
  packages/mobile/lib/components/group/individual-group.dart
Due: none

Update game-password-pop-up.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

RS: fix tests, only missing square
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/pages/observer-game-page/observer-game-page.component.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.spec.ts
Due: install:client, lint:client, build:client, test:client

fix routes
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

Read all channel messages on open
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/services/chat.service.dart
Due: none

Changed channel filter method
  packages/mobile/lib/components/chat-management.dart
Due: none

fixed message duplication
  packages/mobile/lib/services/chat.service.dart
Due: none

Play notification when appropriate
  packages/mobile/lib/services/chat.service.dart
Due: none

remove pub lock
  packages/mobile/pubspec.lock
Due: none

fixed a lot of stuff
  packages/mobile/lib/classes/group.dart
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
  packages/mobile/lib/components/group/group-selection.dart
  packages/mobile/lib/components/group/individual-group.dart
  packages/mobile/lib/controllers/group-join-controller.dart
  packages/mobile/lib/services/group-join.service.dart
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

fix dialogs
  packages/mobile/lib/components/game-password-pop-up/game-password-pop-up.dart
Due: none

RS: Fix square
  packages/client/src/app/components/square/square.component.spec.ts
Due: install:client, lint:client, build:client, test:client

oopsie
  packages/server/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:server, lint:server, build:server, test:server

verif dialog buttons
  packages/mobile/lib/components/alert-dialog.dart
Due: none

removed changed functions test
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-password-waiting-dialog/group-password-waiting-dialog.spec.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
  packages/client/src/app/components/information-box/information-box.component.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/client/src/app/services/player-leave-service/player-leave.service.spec.ts
  packages/client/src/app/services/reconnection-service/reconnection.service.spec.ts
  packages/client/src/app/services/round-manager-service/round-manager.service.spec.ts
Due: install:client, lint:client, build:client, test:client

lint client
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/square/square.component.spec.ts
  packages/client/src/app/services/game-service/game.service.spec.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

Should be fixed, need test
  packages/mobile/lib/main.dart
Due: none

switch button [ci-skip]
  packages/client/src/app/pages/home-page/home-page.component.html
Due: install:client, lint:client, build:client, test:client

small fix [ci-skip]
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

fix tests
  packages/client/src/app/components/board/board.component.spec.ts
  packages/client/src/app/components/square/square.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.spec.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.spec.ts
Due: install:client, lint:client, build:client, test:client

lint fix
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

bring back exchange
  packages/client/src/app/components/tile-rack/tile-rack.component.html
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/stories/components/game/tile-rack.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
Due: install:client, lint:client, build:client, test:client

RS: Missing changes
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/game-service/game.service.ts
Due: install:client, lint:client, build:client, test:client

implement write on board
  packages/client/src/app/classes/square/square-view.ts
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/components/board/board.component.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.spec.ts
  packages/client/src/app/components/tile-rack/tile-rack.component.ts
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.spec.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
  packages/client/src/app/services/drag-and-drop-service/drag-and-drop.service.ts
  packages/client/src/app/services/tile-placement-service/tile-placement.service.ts
  packages/client/src/app/stories/components/game/game-page.stories.ts
  packages/client/src/app/stories/modules/initialized-game-stories/services/game-service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.html
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

tests
  packages/client/src/app/services/board-cursor-service/board-cursor.service.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Add more forgotten code
  packages/client/src/app/pages/game-page/game-page.component.html
  packages/client/src/app/pages/game-page/game-page.component.ts
Due: install:client, lint:client, build:client, test:client

handle wrong word case
  packages/client/src/app/components/board/board.component.html
  packages/client/src/app/pages/game-page/game-page.component.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.spec.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
  packages/client/src/app/wrappers/game-board-wrapper/game-board-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

puzzle + fix
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.html
  packages/client/src/app/pages/puzzle-page/puzzle-page.component.ts
  packages/client/src/app/services/board-cursor-service/board-cursor.service.ts
Due: install:client, lint:client, build:client, test:client

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
