Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Added middleware tests
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

fix overflow
  packages/mobile/lib/components/login-form.dart
Due: none

fix background
  packages/mobile/lib/main.dart
Due: none

connect button position fix
  packages/mobile/lib/components/login-form.dart
Due: none

use constant instead of text
  packages/mobile/lib/components/login-form.dart
Due: none

fix overflow when typing
  packages/mobile/lib/components/login-form.dart
Due: none

remove login controller and fix overflow
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/controllers/login-authentification.controller.dart
  packages/mobile/lib/services/account-authentification-service.dart
  packages/mobile/lib/services/login-authentification.service.dart
Due: none

fix http response code login
  packages/mobile/lib/controllers/account-authentification-controller.dart
Due: none

remove commented code
  packages/mobile/lib/pages/login-page.dart
Due: none

Commit for fix merge [ci skip]
  packages/mobile/lib/components/login-form.dart
Due: none

Fixed user intefaces problems
  packages/client/src/app/components/chatbox-container/chatbox-container.component.stories.ts
  packages/client/src/app/components/chatbox-message/chatbox-message.component.stories.ts
  packages/common/models/user.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fixed user interfaces problems
  packages/client/src/app/components/chatbox-message/chatbox-message.component.spec.ts
Due: install:client, lint:client, build:client, test:client

fix pipe callback types
  packages/client/src/app/utils/settings/settings.ts
Due: install:client, lint:client, build:client, test:client

chnaged bycrypt to bycryptjs package
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

add doc
  packages/client/src/app/utils/settings/settings.ts
Due: install:client, lint:client, build:client, test:client

socket dependency
  packages/mobile/pubspec.yaml
Due: none

update chat page methods
  packages/mobile/lib/components/chatbox.dart
Due: none

Added tests
  packages/client/documentation.json
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

Added email and username verification on submit
  packages/client/documentation.json
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

init socket
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

socketservice in locator
  packages/mobile/lib/locator.dart
Due: none

Added missing tests
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/services/alert-service/alert.service.spec.ts
  packages/client/src/app/services/user-service/user.service.spec.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Created components for login
  packages/client/src/app/app.module.ts
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.scss
  packages/client/src/app/components/login-container/login-container.component.spec.ts
  packages/client/src/app/components/login-container/login-container.component.stories.ts
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/modules/app-routing.module.ts
  packages/client/src/app/pages/login-page/login-page.component.html
  packages/client/src/app/pages/login-page/login-page.component.scss
  packages/client/src/app/pages/login-page/login-page.component.spec.ts
  packages/client/src/app/pages/login-page/login-page.component.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.html
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.scss
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Fixed tests
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

add chatservice and constant sockets
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/constants/socket-events.dart
Due: none

chat service add
  packages/mobile/lib/services/chat.service.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

locator fix
  packages/mobile/lib/locator.dart
Due: none

added chatController
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/chat.controller.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

socket service update
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

socket events constants
  packages/mobile/lib/constants/socket-events.dart
Due: none

chat update
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/chat.controller.dart
Due: none

emit new event from client
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Added headers and submit errors
  .gitignore
  packages/client/documentation.json
  packages/client/src/app/components/login-container/login-container.component.html
  packages/client/src/app/components/login-container/login-container.component.scss
  packages/client/src/app/components/login-container/login-container.component.ts
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
Due: install:client, lint:client, build:client, test:client

Added map to authentification service
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/app/services/chat-service/chat.service.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

change typing
  packages/client/src/app/utils/settings/index.ts
  packages/client/src/app/utils/settings/settings.spec.ts
  packages/client/src/app/utils/settings/settings.ts
  packages/client/src/app/utils/settings/types.ts
  packages/client/src/app/utils/settings/validators/bool.ts
  packages/client/src/app/utils/settings/validators/date.ts
  packages/client/src/app/utils/settings/validators/json.ts
  packages/client/src/app/utils/settings/validators/num.ts
  packages/client/src/app/utils/settings/validators/str.ts
  packages/client/src/app/utils/settings/validators/types.ts
Due: install:client, lint:client, build:client, test:client

fix function
  packages/client/src/app/utils/settings/settings.ts
Due: install:client, lint:client, build:client, test:client

remove eslint disable
  packages/client/src/app/utils/settings/settings.ts
Due: install:client, lint:client, build:client, test:client

add getter and setter
  packages/client/src/app/utils/settings/settings.ts
  packages/client/src/app/utils/settings/types.ts
Due: install:client, lint:client, build:client, test:client

update to use getter
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/pages/lobby-page/lobby-page.component.ts
Due: install:client, lint:client, build:client, test:client

fix initsocket
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/controllers/chat.controller.dart
  packages/mobile/lib/services/socket.service.dart
Due: none

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
