Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*

debounce
  packages/mobile/lib/components/chat-management.dart
Due: none

interface name change
  packages/mobile/lib/classes/channel.dart
  packages/mobile/lib/controllers/chat-management.controller.dart
Due: none

fix chat search
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/services/chat-management.service.dart
Due: none

Added service and popuntil named home
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/components/game/game_actions.dart
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/routes/routes.dart
  packages/mobile/lib/services/action-service.dart
  packages/mobile/lib/services/player-leave-service.dart
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

event name change
  packages/mobile/lib/constants/chat-management.constants.dart
Due: none

Changed buttons color
  packages/mobile/lib/components/app_button.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/services/player-leave-service.dart
  packages/mobile/lib/services/theme-color-service.dart
Due: none

Added spacing
  packages/mobile/lib/components/alert-dialog.dart
Due: none

joinableChannels insted of publicChannels
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.spec.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.spec.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
  packages/common/events/chat.event.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

140: Fixed
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

fix visual bug duplicated appBar
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

scaffold icon change
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

144: Fixed
  packages/client/src/app/components/signup-container/signup-container.component.html
Due: install:client, lint:client, build:client, test:client

padding
  packages/mobile/lib/components/chat-management.dart
  packages/mobile/lib/components/scaffold-persistance.dart
Due: none

fix duplicated appBar
  packages/mobile/lib/view-methods/create-lobby-methods.dart
Due: none

Added bugfix/quit channels
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.ts
  packages/server/app/services/chat-service/chat.service.spec.ts
  packages/server/app/services/chat-service/chat.service.ts
Due: install:server, lint:server, build:server, test:server

added mobile pipeline
  .gitlab-ci.yml
Due: none

added bugfix/avatar
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.spec.ts
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

Fixed closing channel
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
Due: install:client, lint:client, build:client, test:client

removed checkbox from dialogs.
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

Fix: 143
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

lint
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/server/app/services/chat-persistence-service/chat-persistence.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

Fix lint
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
Due: install:client, lint:client, build:client, test:client

Changed buttons colors
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

join popup removed
  packages/client/src/app/components/chatbox-container/chatbox-container.component.html
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/constants/chat-constants.ts
Due: install:client, lint:client, build:client, test:client

fixed colors
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Rename to groups
  packages/client/src/app/pages/groups-page/groups-page.component.html
  packages/client/src/app/pages/groups-page/groups-page.component.scss
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.ts
Due: install:client, lint:client, build:client, test:client

Lint and fdescribe
  packages/client/src/app/components/create-virtual-player-dialog/create-virtual-player-dialog.component.ts
  packages/client/src/app/services/high-score-service/high-score.service.spec.ts
  packages/client/src/app/wrappers/login-wrapper/login-wrapper.component.spec.ts
Due: install:client, lint:client, build:client, test:client

Added quittedChannel Observable
  packages/client/src/app/components/chatbox-container/chatbox-container.component.ts
  packages/client/src/app/services/chat-service/chat.service.ts
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.html
  packages/client/src/app/wrappers/chatbox-wrapper/chatbox-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

RS: More changing to groups
  packages/client/src/app/app.module.ts
  packages/client/src/app/modules/app-routing.module.ts
Due: install:client, lint:client, build:client, test:client

Fixed bug
  packages/server/app/services/socket-service/socket.service.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

RS: Adjust tests for gorups change
  packages/client/src/app/components/group-info/group-info.component.spec.ts
  packages/client/src/app/components/group-info/group-info.component.ts
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.spec.ts
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.spec.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/services/game-dispatcher-service/game-dispatcher.service.spec.ts
  packages/server/app/classes/game/game.spec.ts
  packages/server/app/classes/game/waiting-room.spec.ts
  packages/server/app/services/active-game-service/active-game.service.spec.ts
  packages/server/app/services/create-game-service/create-game.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Add create waiting apge tests
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.spec.ts
Due: install:client, lint:client, build:client, test:client

RS: Only show requesting users if private
  packages/client/src/app/pages/create-waiting-page/create-waiting-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add more descriptive text
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.html
  packages/client/src/app/components/group-request-waiting-dialog/group-request-waiting-dialog.ts
Due: install:client, lint:client, build:client, test:client

RS: Add game visiblity and password tto game creation
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.html
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.scss
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add game visibility logic
  packages/client/src/app/pages/groups-page/groups-page.component.spec.ts
  packages/client/src/app/pages/groups-page/groups-page.component.ts
Due: install:client, lint:client, build:client, test:client

RS: Add http call and error handling for game visibility
  packages/client/src/app/controllers/game-dispatcher-controller/game-dispatcher.controller.ts
Due: install:client, lint:client, build:client, test:client

RS: Add password to groups
  packages/client/src/app/classes/states/request-state.ts
  packages/client/src/app/utils/settings/index.ts
  packages/common/models/group.ts
  packages/server/app/classes/game/game-config.ts
Due: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

RS: Add game visibility to group detailed view
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.html
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.spec.ts
  packages/client/src/app/components/group-info-detailed/group-info-detailed.component.ts
Due: install:client, lint:client, build:client, test:client
