Repository cfstcyr/scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, build:client, build:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    - packages/client/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    - packages/server/.npm/
    policy: pull-push
  stage: install
  needs: []
  script:
  - cd packages/server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run lint

build:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: build
  needs:
  - install:client
  script:
  - cd packages/client
  - npm run build
  artifacts:
    paths:
    - packages/client/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run build
  artifacts:
    paths:
    - packages/server/out/

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - packages/client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd packages/client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - packages/server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd packages/server
  - npm run coverage
  dependencies:
  - build:server
  artifacts:
    paths:
    - packages/server/coverage/

Added validate to authcontroller
  packages/server/app/classes/communication/request.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

authorization in headers
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
Due: install:server, lint:server, build:server, test:server

Resolve GL3H23103-91 "Feature/ le creation compte"
  LOG3990-103.code-workspace
  packages/mobile/.gitignore
  packages/mobile/Makefile
  packages/mobile/lib/classes/account.dart
  packages/mobile/lib/classes/text-field-handler.dart
  packages/mobile/lib/components/create-account-form.dart
  packages/mobile/lib/constants/create-account-constants.dart
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/environments/environment.dart
  packages/mobile/lib/environments/environnement-config.dart
  packages/mobile/lib/locator.dart
  packages/mobile/lib/login.dart
  packages/mobile/lib/main.dart
  packages/mobile/lib/pages/create-account-page.dart
  packages/mobile/lib/pages/home-page.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/pages/prototype-page.dart
  packages/mobile/lib/services/account-authentification-service.dart
  packages/mobile/lib/services/theme-color-service.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
  packages/mobile/test/classes/text-field-handler_test.dart
  packages/mobile/test/classes/text-field-handler_test.mocks.dart
  packages/mobile/test/components/create-account-form_test.dart
  packages/mobile/test/components/create-account-form_test.mocks.dart
  packages/mobile/test/widget_test.dart
Due: none

Added test to authentification service
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

Removed .only
  packages/server/app/services/authentification-service/authentification.service.spec.ts
Due: install:server, lint:server, build:server, test:server

create settings utils
  packages/client/src/app/modules/settings.module.ts
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.ts
  packages/client/src/app/pages/lobby-page/lobby-page.component.ts
  packages/client/src/app/services/settings-service/settings.service.spec.ts
  packages/client/src/app/services/settings-service/settings.service.ts
  packages/client/src/app/utils/settings/index.ts
  packages/client/src/app/utils/settings/operators/num.ts
  packages/client/src/app/utils/settings/settings.ts
  packages/client/src/app/utils/settings/validators/bool.ts
  packages/client/src/app/utils/settings/validators/date.ts
  packages/client/src/app/utils/settings/validators/index.ts
  packages/client/src/app/utils/settings/validators/json.ts
  packages/client/src/app/utils/settings/validators/num.ts
  packages/client/src/app/utils/settings/validators/str.ts
  packages/client/src/app/utils/settings/validators/types.ts
Due: install:client, lint:client, build:client, test:client

Added authentification controller tests
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
Due: install:server, lint:server, build:server, test:server

fixed insertUser return type
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

test settings
  packages/client/src/app/pages/game-creation-page/game-creation-page.component.spec.ts
  packages/client/src/app/utils/settings/index.ts
  packages/client/src/app/utils/settings/operators/num.ts
  packages/client/src/app/utils/settings/settings.spec.ts
  packages/client/src/app/utils/settings/settings.ts
  packages/client/src/app/utils/settings/validators/bool.spec.ts
  packages/client/src/app/utils/settings/validators/bool.ts
  packages/client/src/app/utils/settings/validators/date.spec.ts
  packages/client/src/app/utils/settings/validators/json.spec.ts
  packages/client/src/app/utils/settings/validators/json.ts
  packages/client/src/app/utils/settings/validators/num.spec.ts
  packages/client/src/app/utils/settings/validators/str.spec.ts
Due: install:client, lint:client, build:client, test:client

removed magic strings
  packages/server/app/constants/controllers-errors.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
Due: install:server, lint:server, build:server, test:server

fixed import
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
Due: install:server, lint:server, build:server, test:server

add login auth service
  packages/mobile/lib/services/account-authentification-service.dart
  packages/mobile/lib/services/login-authentification.service.dart
Due: none

add login auth controller
  packages/mobile/lib/controllers/account-authentification-controller.dart
  packages/mobile/lib/controllers/login-authentification.controller.dart
Due: none

fix button redirect
  packages/mobile/lib/components/login-form.dart
Due: none

env gestion
  packages/client/main.js
  packages/client/package-lock.json
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

fix electron start
  .gitignore
  packages/client/main.js
  packages/client/package-lock.json
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

fix package
  packages/client/package-lock.json
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

lint fix
  packages/client/src/app/services/user-service/user.service.spec.ts
Due: install:client, lint:client, build:client, test:client

fix getIt
  packages/mobile/lib/services/account-authentification-service.dart
Due: none

add scrabble logo to assets pubspec
  packages/mobile/images/Scrabble-logo.png
  packages/mobile/pubspec.yaml
Due: none

add logo to login page
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/login-constants.dart
  packages/mobile/lib/pages/login-page.dart
  packages/mobile/lib/services/login-authentification.service.dart
Due: none

Finished form
  packages/client/documentation.json
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/constants/authentification-constants.ts
  packages/client/src/app/modules/material.module.ts
Due: install:client, lint:client, build:client, test:client

Changed submit button disabling behaviour
  packages/client/src/app/components/signup-container/signup-container.component.ts
Due: install:client, lint:client, build:client, test:client

added handler for username and fixed height
  packages/mobile/lib/components/login-form.dart
Due: none

fix errors
  packages/mobile/lib/components/login-form.dart
  packages/mobile/lib/constants/create-account-errors.dart
  packages/mobile/pubspec.lock
  packages/mobile/pubspec.yaml
Due: none

add icon and edit package script
  packages/client/package.json
  packages/client/resources/icon.icns
Due: install:client, lint:client, build:client, test:client

[ci skip] bitch
  packages/client/package.json
Due: install:client, lint:client, build:client, test:client

Added name and email exist UI
  packages/client/documentation.json
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.scss
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/services/user-service/user.service.ts
  packages/common/models/user.ts
Due: install:client, lint:client, build:client, test:client

Linked wrapper and component
  packages/client/src/app/components/signup-container/signup-container.component.html
  packages/client/src/app/components/signup-container/signup-container.component.ts
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.html
  packages/client/src/app/wrappers/signup-wrapper/signup-wrapper.component.ts
Due: install:client, lint:client, build:client, test:client

Fixed test
  packages/server/app/services/chat-service/chat.service.spec.ts
Due: install:server, lint:server, build:server, test:server

Changed checkbox color
  packages/client/src/app/components/signup-container/signup-container.component.html
Due: install:client, lint:client, build:client, test:client

ref insertUser
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

[ci skip]
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

padding fix
  packages/mobile/lib/components/login-form.dart
Due: none

good idea
  packages/mobile/lib/components/login-form.dart
Due: none

new dependency
  packages/mobile/ios/Flutter/Debug.xcconfig
  packages/mobile/ios/Flutter/Release.xcconfig
  packages/mobile/pubspec.yaml
Due: none

chatbox v1
  packages/mobile/lib/components/chatbox.dart
  packages/mobile/lib/pages/prototype-page.dart
Due: none

added validateUsername and validateEmail APIs
  packages/server/app/controllers/authentification-controller/authentification-controller.spec.ts
  packages/server/app/controllers/authentification-controller/authentification-controller.ts
  packages/server/app/services/authentification-service/authentification.service.spec.ts
  packages/server/app/services/authentification-service/authentification.service.ts
Due: install:server, lint:server, build:server, test:server

Added authetificate event
  packages/server/app/middlewares/authentificate-token.spec.ts
  packages/server/app/services/socket-service/socket.service.ts
Due: install:server, lint:server, build:server, test:server

changed bcrypt package to bcryptjs
  packages/server/app/services/authentification-service/authentification.service.ts
  packages/server/package-lock.json
  packages/server/package.json
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:client: any of: packages/client/**/*
  install:server: any of: packages/server/**/*
  lint:client: any of: packages/client/**/*
  lint:server: any of: packages/server/**/*
  build:client: any of: packages/client/**/*
  build:server: any of: packages/server/**/*
  test:client: any of: packages/client/**/*
  test:server: any of: packages/server/**/*
